/* General fixes */
.container {
	margin: 55px auto 20px;
	max-width: 1170px;
}

body, html {
	background-color: #f2f2f2;
}

.forum-list {
	margin: 0;
	margin-bottom: -5px;
}

.forum-list-border {
	height: 300px;
}

/* Index */
.subforums {
	display: block;
	font-size: 85%;
}

.tclcon {
	margin-left: 25px;
}

.table {
	margin-bottom: 0;
}

.users-online {
	margin-left: 15px;
	margin-right: 15px;
}

/* Welcome box and header */
#brddesc {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin-top: -10px;
}

#brddesc p {
	padding: 0;
}

#brdwelcome {
	padding: 10px 0 0;
}

#brdwelcome .conl, #brdwelcome .conr, #brdwelcome p, #brdwelcome li {
	display: inline;
	padding: 0;
}

#brdwelcome .conl {
  float: left;
}

#brdwelcome .conr {
  float: right;
}

#brdwelcome li span {
	background: url(Radicalness/img/bull.png) center left no-repeat;
	padding-left: 18px;
	margin-right: 3px;
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
}

#brdwelcome .conl li:first-child span {
	padding-left: 0;
	background: none;
}

/* Links (subscribe, new post, etc.) */
.subscribelink {
	padding-bottom: 10px;
}

.postlink {
	float: right;
	font-weight: bold;
	text-align: right;
}

* html .pun .inbox, * html .pun #brdmain, * html .pun .infldset, * html .pun .crumbs, * html .pun .pagepost, * html .pun .block2col {
	display: inline-block;
}

/* Panels */
.panel {
	border-radius: 0;
	border: none;
	margin-bottom: 10px;
	box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.1);
	margin-top: 15px;
}

.panel-default .panel-heading {
	border-radius: 0;
	border: none;
	background: #ee4900;
	color: #fff;
}

.col-md-10 .panel {
	margin-right: -14px;
}

/* Navbar */
.nav-inner {
	max-width: 1170px;
	margin: 0 auto;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #ee4900;
  background-image: none;
  filter: none;
}

.dropdown-menu {
	border-radius: 0;
}

.navbar {
	border-bottom: #ee4900 5px solid;
	box-shadow: 0 5px 5px 0px rgba(0,0,0,0.1);
	background: #222222;
}

.nav > li {
	margin-left: 0px;
}

.nav > li > a {
	color: #fff;
}

.navbar-nav > .dropdown > a .caret, .navbar-nav > .dropdown > a:hover .caret, .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #ee4900;
}

.nav .navbar-nav .pull-right {
	padding-right: -10px;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 0;
	margin-top: 13px;
	margin-right: 15px;
	margin-bottom: 5px;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 24px;
	height: 3px;
	border-radius: 1px;
	background-color: #fff;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}

/* Profile */
.profile-nav {
	padding-left: 0;
	padding-right: 0;
}

.active.list-group-item, .active.list-group-item:hover, .active.list-group-item:focus {
	background-color: #ee8e64;
	border-color: #ee8e64;
}

:first-child.list-group-item, :last-child.list-group-item {
	border-radius: 0;
}

.profile-h2 {
	margin-top: 0;
	margin-bottom: 0;
}

/* Post messages */
.bblinks {
	padding-top: 0;
	float: right;
}

.bblinks li {
	display: inline;
}

.bblinks li span {
	background: url(Radicalness/img/help.png) center left no-repeat;
	margin-right: 8px;
	padding-left: 20px;
	display: inline-block;
}

.blockpost .postbody {
	border-left-style: solid;
	border-left-width: 1px;
	float: right;
	margin-right: -218px;
	position: relative;
	text-align: left;
	width: 100%;
}

.blockpost .postleft {
	padding: 7px 12px 7px 18px;
	float: left;
	position: relative;
}

.username {
	margin: 0;
}

.time-nr {
	font-size: 70%;
	color: #ccc;
}

.postview {
	margin-bottom: 10px;
}

.post-topic {
	background-color: #fff;
	padding: 5px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.user-info {
	font-size: 80%;
}

.postsignature hr {
	margin-bottom: 0;
}

.modcontrols {
	padding-bottom: 8px;
}

.marked .post-content {
	background-color: #fff0ed;
}

/* Quick post */
.actions {
	margin-top: -30px;
	margin-bottom: 0;
}

/* Table */
.table > tbody > tr > td.user-data {
	background-color: #f7f7f7;
}

.table > tbody > tr > td.postfooter {
	padding-bottom: 0;
	background-color: #dfdfdf;
}

.table > thead > tr.active {
	color: #fff;
	background-color: #ee4900;
}

.table > tbody > tr > td {
	color: #232323;
	background-color: #fff;
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
	background: none;
}

/* Buttons */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	border-radius: 0;
	font-weight: 500;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #333;
	background: #e6e6e6;
}

.btn:active, .btn.active {
	background-color: #ccc 9;
}

.btn:hover, .btn:focus {
	color: #333;
	text-decoration: none;
	background-position: 0 -15px;
	transition: background-position 0.1s linear;
}

.btn:focus {
	outline: thin dotted #333;
	outline-offset: -2px;
}

.btn.active, .btn:active {
	background: none;
	outline: 0;
}

.btn.disabled, .btn[disabled] {
	cursor: default;
	background: none;
	opacity: 0.65;
}

.btn-large {
	padding: 11px 19px;
	font-size: 17.5px;
}

.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
	margin-top: 4px;
}

.btn-small {
	padding: 2px 10px;
	font-size: 11.9px;
}

.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
	margin-top: 0;
}

.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
	margin-top: -1px;
}

.btn-mini {
	padding: 0 6px;
	font-size: 10.5px;
}

.btn-block {
	display: block;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	box-sizing: border-box;
}

.btn-block + .btn-block {
	margin-top: 5px;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
	width: 100%;
}

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
	color: rgba(255,255,255,0.75);
}

.btn-primary {
	color: #fff;
	background: #2f92e7;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #fff;
	background: #2f76e7;
}

.btn-primary:active, .btn-primary.active {
	background-color: #175dcc 9;
}

.btn-warning {
	color: #fff;
	background: #dd5600;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	color: #fff;
	background: #dd5600;
}

.btn-warning:active, .btn-warning.active {
	background-color: #aa4200 9;
}

.btn-danger {
	color: #fff;
	background: #c32627;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	color: #fff;
	background: #bd362f;
}

.btn-danger:active, .btn-danger.active {
	background-color: #942a25 9;
}

.btn-success {
	color: #fff;
	background: #65a643;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	color: #fff;
	background: #51a351;
}

.btn-success:active, .btn-success.active {
	background-color: #408140 9;
}

.btn-info {
	color: #fff;
	background: #6d76b3;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	color: #fff;
	background: #2f96b4;
}

.btn-info:active, .btn-info.active {
	background-color: #24748c 9;
}

.btn-inverse {
	color: #fff;
	background: #0f3253;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	color: #fff;
	background: #222;
}

.btn-inverse:active, .btn-inverse.active {
	background-color: #080808 9;
}

button.btn::-moz-focus-inner:, input[type="submit"].btn: {
	padding: 0;
	border: 0;
}

.btn-link, .btn-link:active, .btn-link[disabled] {
	background: transparent none;
}

.btn-link {
	color: #2fa4e7;
	cursor: pointer;
	border-color: transparent;
}

.btn-link:hover, .btn-link:focus {
	color: #157ab5;
	text-decoration: underline;
	background: transparent;
}

.btn-link[disabled]:hover, .btn-link[disabled]:focus {
	color: #333;
	text-decoration: none;
}

/* Alerts */
.alert {
	box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.1);
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	background-color: #ffffff;
	border-left: #555 5px solid;
}

.alert-warning {
	border-left: #f79f13 5px solid;
}

.alert-info {
	border-left: #2ca0e9 5px solid;
}

.alert-danger {
	border-left: #ff5a00 5px solid;
	color: #d33200;
}

.alert-success {
	border-left: #41d300 5px solid;
	color: #4e9e00;
}

.col-md-10 .alert {
	margin-right: -14px;
}

/* Forms */
.form-control {
	border-radius: 0;
	width: auto;
}

.full-form {
	width: 100%;
}

fieldset label {
	display: block;
	padding: 0 0 7px 0;
}

.multiselect {
	float: left;
	padding-bottom: 7px;
}

.checklist {
	border-width: 1px;
	border-style: solid;
	max-height: 9em;
	width: 20em;
	overflow: auto;
	padding: 0.25em 0.5em;
	margin: 0.25em 16px 0 0.15em;
}

/* Breadcrumb */
.breadcrumb {
	background-color: #ffa200;
	border-radius: 0;
}

.breadcrumb > li + li::before {
	color: #fff;
}

.breadcrumb a {
	color: #fff;
	text-decoration: none;
}

.breadcrumb a:hover {
	color: #fff;
	text-decoration: none;
}

/* Status Indicators */
.icon {
	border-color: #dcdcdc;
}

.iredirect .icon {
	border-color: #dcdcdc;
	border-width: 1px;
	padding: 7px;
}

.inew .icon {
	border-color: #ee4900;
}

/* Generic Float Clear */
.inbox, #brdmain, .pagepost, .block2col {
	min-height: 1px;
}

* html .inbox, * html #brdmain, * html .infldset, * html .crumbs, * html .pagepost, * html .block2col {
	display: inline-block;
}

* html .inbox, * html #bdrdmain, * html .infldset, * html .crumbs, * html .pagepost, * html .block2col {
	display: block;
}

.inbox:after, #brdmain:after, .crumbs:after, .pagepost:after, .block2col:after {
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.block2col .inbox:after {
	content: none;
	clear: none;
}

.clearl {
	clear: left;
}

/* Forumview, index */
#index .byuser {
	display: block;
}

.icon {
	border-style: solid;
	border-width: 8px;
	float: left;
	height: 0;
	overflow: hidden;
	width: 0;
}

.iposted .ipost {
	font-weight: bold;
	left: 0;
	padding-left: 4px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 8px;
}

.pagelink {
	float: left;
	white-space: nowrap;
}

/* Debug */
#debugtime {
	border-style: dotted none none none;
	border-width: 1px 0 0 0;
	margin-top: 7px;
	text-align: center;
}

#debug {
	margin-top: 12px;
}

#debug .tcl {
	width: 10%;
}

#punredirect #debug .tcl, #punmaint #debug .tcl {
	width: 20%;
}

#debug .tcr {
	width: 90%;
	white-space: normal
}

/* Links */
a {
	color: #f48a00;
}

a:hover, a:active {
	color: #d87a00;
}

a.list-group-item:hover, a.list-group-item:active {
	color: #555555;
}

/* BBCode */
span.bbu {
	text-decoration: underline;
}

span.bbs, del {
	text-decoration: line-through;
}

blockquote p {
	font-size: 13px;
}

pre {
	border-radius: 0;
}

q {
	font-style: italic;
}

q:before {
  content: "\201C";
}

q:after {
  content: "\201D";
}