@each $accent in $accents {
    $i: index($accents, $accent);
    
    .accent-#{$i} {
        .custom-checkbox {
            :checked {
                &.custom-control-input ~ .custom-control-label::before {
                    background: $accent;
                }
            }
        }

        .custom-radio {
            :checked {
                &.custom-control-input ~ .custom-control-label::before {
                    background: $accent;
                }
            }
        }
        
        .navbar {
            &.navbar-light {
                .navbar-brand {
                    &.active, &:hover, &:focus {
                        color: $accent;
                    }
                }
        
                .navbar-nav {
                    .nav-link {
                        &.active, &:hover, &:focus {
                            color: $accent;
                        }
                    }
                }
            }
        }

        .btn {
            &.btn-primary {
                background-color: $accent;
        
                &:hover,
                &:active,
                &:focus {
                    background-color: darken( $accent, 6% );
                }
        
                &.active {
                    background-color: darken( $accent, 12% ) !important;
                }
            }
        
            &.btn-light {
                &.btn-light-primary {
                    color: $accent;
            
                    &:hover,
                    &:active,
                    &:focus {
                        color: darken( $accent, 15% );
                    }
                }
            }
        
            &.btn-link {
                color: $accent;
        
                &:hover,
                &:focus,
                &:active {
                    color: darken( $accent, 5% );
                }
            }
        }

        .btn-toolbar-options {
            .btn-light {
                &.btn-light-active {
                    background-color: $accent;
                }
            }
        }

        .editor {
            border: .1rem solid $accent;

            .form-control {
                &:focus {
                    border-color: $accent;
                }
            }

            .btn-toolbar {
                .btn-group {
                    .btn {
                        &.btn-light {
                            color: $accent;
                            
                            &.active {
                                background-color: $accent;
            
                                &:hover,
                                &:active,
                                &:focus {
                                    background-color: darken( $accent, 10% ) !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        a {
            color: $accent;

            &:hover,
            &:active,
            &:focus {
                color: darken( $accent, 10% );
            }
        }

        .jumbotron {
            &.default {
                background-color: darken( $accent, 3% );
            }

            &.index {
                background-color: darken( $accent, 3% );

                .custom-checkbox {
                    :checked {
                        &.custom-control-input ~ .custom-control-label::before {
                            background: darken($accent, 15%);
                        }
                    }
                }
            }
        }

        .list-group {
            &.list-group-nav {
                h4 {
                    color: $accent;
                }
            }

            &.list-group-thread {
                .list-group-item {
                    &.new-item {
                        border-left-color: $accent;
                    }
                }
            }

            &.list-group-none {
                .list-group-item {
                    &.active {
                        background-color: $accent;
                    }
                }
            }
        }

        .modal {
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        background-color: $accent;
                    }

                    .modal-footer {
                        background-color: $accent;
                    }
                }
            }
        }
        
        .nav {
            .nav-item {
                color: $accent;
        
                &.active {
                    border-bottom-color: $accent;
                    color: $accent;
                }
        
                &:hover {
                    border-bottom-color: $accent;
                    color: $accent;
                }
            }
        }
    }
}