.user-stat {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: .5rem;

    small {
        color: #999;
        font-weight: 600;
        font-size: .9rem;
        text-transform: uppercase;
        display: block;
    }
}

h2 {
    font-weight: 700;
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;

    &:first-child {
        margin-top: 0;
    }
}