.jumbotron {
    border-radius: 0;
    margin-bottom: .75rem;

    &.default {
        padding: 1.5rem 2rem;
        margin-left: -.75rem;
        margin-right: -.75rem;

        h2 {
            color: #fff;
            font-weight: 700;
            margin: 0;
            font-size: 2.2rem;
        }

        .description {
            font-size: 1.3rem;
            font-weight: 600;
            color: #fff;
        }
    }

    &.index {
        color: #fff;
        padding: 1rem 1rem 0;
        margin: 0;

        .avatar {
            height: 8rem;
            width: auto;
            display: block;
            margin: 0 auto;
        }

        p {
            margin-bottom: 0;
        }

        .form-control {
            border-radius: 0;
            background: none;
            border: none;
            border-bottom: .1rem solid rgba(255,255,255,.5);
            padding: .5rem 0;
            color: #fff;

            &:focus {
                border-bottom: .1rem solid #fff;
            }

            &::-webkit-input-placeholder {
                color: rgba(255,255,255,.4);
            }

            &::-moz-placeholder {
                color: rgba(255,255,255,.4);
            }

            &:-ms-input-placeholder {
                color: rgba(255,255,255,.4);
            }

            &::placeholder {
                color: rgba(255,255,255,.4);
            }
        }

        .custom-checkbox {
            margin-top: .75rem;
        }

        .btn-login {
            margin-top: -3.4rem;
            background-color: rgba(255,255,255,.2);

            &:active,
            &:focus,
            &:hover {
                background-color: rgba(255,255,255,.5);
            }
        }

        .col-search {
            margin-top: .75rem;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 1rem;
            }

            .form-control {
                background: none;
                font-size: 2rem;
                padding: .7rem 0;
                font-weight: 700;

                &:focus {
                    border: none;
                }
            }

            .btn-light {
                color: #fff;
                background: none;
                font-size: 2rem;

                &:focus,
                &:active,
                &:hover {
                    background: none;
                }
            }
        }
        
        .nav {
            border: none;
            justify-content: center;
        
            .nav-item {
                color: #fff;
                border: none;
                border-bottom: .25rem solid transparent;
                padding: .7rem 0 .45rem;
                margin: 0 .75rem;
        
                &.active {
                    background-color: inherit;
                    border-bottom-color: #fff;
                    color: #fff;
                }
        
                &:hover {
                    border-bottom-color: #fff;
                    color: #fff;
                }
            }
        
            .nav-item {
                border-radius: 0;
                margin-bottom: 0;
            }
        }
    }

    &.titletron {
        color: #fff;
        margin-left: -.75rem;
        margin-right: -.75rem;
        padding: 1.2rem .75rem;

        h2 {
            margin-bottom: 0;
            font-weight: 600;

            small {
                display: block;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: -.4rem;
                font-weight: 700;
            }

            .btn {
                margin-top: -1.4rem;
            }
        }
    }
}