.thread-item {
    padding: .75rem;
    transition: .3s;

    &:hover {
        background: #f9f9f9;
    }

    &.new-item {
        background: #f9f9f9;

        &:hover {
            background: #f3f3f3;
        }
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .h4 {
        font-weight: 600;
    }
}