.thread {
    padding: .5rem;
    transition: .3s;

    &:hover {
        box-shadow: 0 0 9px rgba(0,0,0,.05), 0 1px 4px rgba(0,0,0,.1);
        background: #fafafa;
    }

    .h4 {
        font-weight: 600;
    }
}