.nav {
    border: none;

    .nav-item {
        color: $accent;
        border: none;
        border-bottom: .25rem solid transparent;
        padding: .7rem 0 .45rem;
        margin: 0 .75rem;

        &.active {
            background-color: inherit;
            border-bottom-color: $accent;
            color: $accent;
        }

        &:hover {
            border-bottom-color: $accent;
            color: $accent;
        }
    }

    .nav-item {
        border-radius: 0;
        margin-bottom: 0;
    }
}

.title-block {
    &:not(:last-child) {
        margin-bottom: 0;
    }
}

.tab-content {
    margin-top: .75rem;
}