.user-entry {
    .media {
        .img-fluid {
            width: 6rem;
            height: auto;
            margin-right: 1rem;
        }

        h5 {
            font-size: 1.5rem;
        }

        h6 {
            font-size: 1.25rem;
        }
    }
}