.btn {
    border: transparent;
    border-radius: 0;

    &:hover,
    &:active,
    &:focus,
    &.active:focus,
    &:focus:active {
        box-shadow: none;
    }

    &.btn-primary {
        background-color: $accent;

        &:hover,
        &:active,
        &:focus {
            background-color: darken( $accent, 6% );
        }

        &.active {
            background-color: darken( $accent, 12% ) !important;
        }
    }

    &.btn-danger {
        background-color: $red;

        &:hover,
        &:active,
        &:focus {
            background-color: darken( $red, 6% );
        }

        &.active {
            background-color: darken( $red, 12% ) !important;
        }
    }

    &.color-accent {
        padding: 1.1rem;
        border: .2rem solid #fff;
        margin: 0;

        &.active,
        &:hover,
        &:active,
        &:focus {
            border-color: #ccc;
            z-index: 1000;
        }
    }

    &.btn-light {
        &.btn-light-primary {
            color: $accent;
    
            &:hover,
            &:active,
            &:focus {
                color: darken( $accent, 15% );
            }
        }

        &.btn-light-danger {
            color: $red;
    
            &:hover,
            &:active,
            &:focus {
                color: darken( $red, 15% );
            }
        }

        &.btn-light-success {
            color: $green;
    
            &:hover,
            &:active,
            &:focus {
                color: darken( $green, 15% );
            }
        }
    }

    &.btn-success {
        background-color: $fluo;

        &:hover,
        &:active,
        &:focus {
            background-color: darken( $fluo, 6% );
        }

        &.active {
            background-color: darken( $fluo, 12% ) !important;
        }
    }

    &.btn-link {
        color: $accent;

        &:hover,
        &:focus,
        &:active {
            color: darken( $accent, 5% );
        }

        &.btn-link-danger {
            color: $red;

            &:hover,
            &:focus,
            &:active {
                color: darken( $red, 5% );
            }
        }
    }
}