.editor {
    margin-top: .75rem;
    border: .1rem solid $accent;

    .form-control {
        border: .1rem solid #eee;
        border-left: none;
        border-right: none;

        &:focus {
            box-shadow: none;
            border-color: $accent;
        }
    }

    .btn-toolbar {
        .btn-group {
            border-right: .1rem solid #eee;
            margin-left: 0;
    
            &:first-child {
                border-left: none;
            }
    
            .btn {
                padding: .6rem .85rem;
    
                &.btn-light {
                    background-color: #fff;
    
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: #eee !important;
                    }
                }
            }

            .dropdown-menu {
                margin-top: 0;
                border: .1rem solid #eee;
                padding: 0;
                border-radius: 0;

                .dropdown-item {
                    padding: .5rem .75rem;
                }
            }
        }
    }
}