.user-stat {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: .5rem;

    small {
        color: #999;
        font-weight: 600;
        font-size: .9rem;
        text-transform: uppercase;
        display: block;
    }
}