.jumbotron {
    border-radius: 0;

    &.profile {
        background-color: darken( $accent, 3% );
        padding: 0;
        margin: 0;

        .container {
            padding: 0 1.5rem;
        }

        h4 {
            font-size: 5rem;
            color: darken( $accent, 15% );
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: -.4rem;

            @media (max-width: 768px) {
                font-size: 2.5rem;
                text-align: center;
                margin-bottom: -.2rem;
            }
        }
    }

    &.first-run {
        color: #fff;
        background-color: darken( $accent, 3% );
        padding: 1rem;
        margin: 0;

        .avatar {
            height: 8rem;
            width: auto;
            display: block;
            margin: 0 auto;
        }

        p {
            margin-bottom: 0;
        }

        .form-control {
            border-radius: 0;
            background: none;
            border: none;
            border-bottom: .1rem solid rgba(255,255,255,.5);
            padding: .5rem 0;
            color: #fff;

            &:focus {
                border-bottom: .1rem solid #fff;
            }

            &::-webkit-input-placeholder {
                color: rgba(255,255,255,.4);
            }

            &::-moz-placeholder {
                color: rgba(255,255,255,.4);
            }

            &:-ms-input-placeholder {
                color: rgba(255,255,255,.4);
            }

            &::placeholder {
                color: rgba(255,255,255,.4);
            }
        }

        .custom-checkbox {
            margin-top: .75rem;
            :checked {
                &.custom-control-input ~ .custom-control-label::before {
                    background: darken($accent, 15%);
                }
            }
        }

        .btn-login {
            margin-top: -3.4rem;
            background-color: rgba(255,255,255,.2);

            &:active,
            &:focus,
            &:hover {
                background-color: rgba(255,255,255,.5);
            }
        }
    }

    &.titletron {
        color: #fff;
        padding: 1.2rem .75rem;
        margin-bottom: 0;

        h2 {
            margin-bottom: 0;
            font-weight: 600;

            small {
                display: block;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: -.4rem;
                font-weight: 700;
            }

            .btn {
                margin-top: -1.4rem;
            }
        }
    }
}