.list-group {
    &.list-group-transparent {
        .list-group-item {
            border-radius: 0;
            background-color: rgba(255,255,255,.1);
            color: #fff;
            padding: .55rem 1rem;
            border: none;
            margin-bottom: .1rem;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: rgba(255,255,255,.25);
            }

            &.active {
                text-align: center;
                background-color: rgba(255,255,255,.3);

                &:hover,
                &:active,
                &:focus {
                    background-color: rgba(255,255,255,.45);
                }
            }
        }
    }

    &.list-group-nav {
        h5 {
            background-color: $accent;
            color: #fff;
            margin-bottom: .1rem;
            padding: 1.3rem .7rem .5rem;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.1rem;
        }

        .list-group-item {
            border: none;
            margin-bottom: .1rem;
            border-radius: 0;
            color: #444;
            padding: .7rem 1rem;

            &:hover,
            &:active,
            &:focus {
                background: #f8f8f8;
                color: #333;
            }

            &.active {
                color: #fff;
            }
        }
    }

    &.list-group-thread {
        .list-group-item {
            border: none;
            border-left: .4rem solid #eee;
            background-color: #f8f8f8;
            margin-bottom: .1rem;
            border-radius: 0;
            color: #333;
            padding: .7rem 1rem;

            &:hover,
            &:active,
            &:focus {
                border-left-color: #d8d8d8;
                background-color: #eee;
            }

            &.new-item {
                border-left-color: $accent;
                background-color: #e8e8e8;
            }

            .status-solved {
                color: #64b450;
            }
            
            .status-pinned {
                color: #ffb900;
            }
            
            .status-new {
                color: #b8b8b8;
            }
            
            .status-important {
                color: #826eb4;
            }
            
            .status-moved {
                color: #2788cb;
            }
            
            .status-closed {
                color: #dc3232;
            }
        }
    }

    &.list-group-none {
        .list-group-item {
            border: none;
            background-color: transparent;
            margin-bottom: .1rem;
            border-radius: 0;
            color: #444;
            padding: .7rem 1rem;

            &:hover,
            &:active,
            &:focus {
                background-color: #f8f8f8;
                color: #333;
            }

            &.active {
                background-color: $accent;
                color: #fff;
            }
        }
    }
}