.list-group {
    &.list-group-transparent {
        .list-group-item {
            border-radius: 0;
            background-color: rgba(255,255,255,.1);
            color: #fff;
            padding: .55rem 1rem;
            border: none;
            margin-bottom: .1rem;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: rgba(255,255,255,.25);
            }

            &.active {
                text-align: center;
                background-color: rgba(255,255,255,.3);

                &:hover,
                &:active,
                &:focus {
                    background-color: rgba(255,255,255,.45);
                }
            }
        }
    }

    &.list-group-nav {
        h5 {
            background-color: $accent;
            color: #fff;
            margin-bottom: .1rem;
            padding: 1.3rem .7rem .5rem;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.1rem;
        }

        .list-group-item {
            border: none;
            margin-bottom: .1rem;
            border-radius: 0;
            color: #444;
            padding: .7rem 1rem;

            &:hover,
            &:active,
            &:focus {
                background: #f8f8f8;
                color: #333;
            }

            &.active {
                color: #fff;
            }
        }
    }

    &.list-group-none {
        .list-group-item {
            border: none;
            background: transparent;
            margin-bottom: .1rem;
            border-radius: 0;
            color: #444;
            padding: .7rem 1rem;

            &:hover,
            &:active,
            &:focus {
                background: #f8f8f8;
                color: #333;
            }
        }
    }
}