.modal {
    .modal-dialog {
        border-radius: 0;

        .modal-content {
            .modal-header {
                background-color: $accent;
                color: #fff;
                border: none;
                font-weight: 600;
                padding: .75rem;
                border-radius: 0;
            }

            .modal-body {
                padding: .75rem;

                .form-control {
                    margin-bottom: .75rem;
                }

                .input-group {
                    .form-control {
                        margin-bottom: 0;
                    }
                }
            }

            .modal-footer {
                background-color: $accent;
                color: #fff;
                border: none;
                padding: .75rem;
                border-radius: 0;

                a {
                    color: #fff;

                    &:hover,
                    &:active,
                    &:focus {
                        color: #fff;
                    }
                }
            }
        }
    }
}