.title-block {
    padding: 1.5rem .75rem .25rem;
    margin-bottom: .1rem;

    &.title-block-primary {
        background-color: $accent;
        color: #fff;
    }

    &.title-block-danger {
        background-color: $red;
        color: #fff;
    }

    &.title-block-success {
        background-color: $green;
        color: #fff;
    }

    &.title-block-forum {
        margin-bottom: .1rem !important;
    }

    &.title-block-nav {
        padding-bottom: 0;
        border-radius: 0;
        margin-bottom: 0;

        .nav {
            border: none;

            .nav-item {
                color: #fff;
                border: none;
                border-bottom: .25rem solid transparent;
                padding: .7rem 0 .45rem;
                margin: 0 .75rem;

                &.active {
                    background-color: inherit;
                    border-bottom-color: #fff;
                }
            }

            .nav-item {
                border-radius: 0;
                margin-bottom: 0;
            }
        }
    }
}

.tab-set {
    &:not(:last-child) {
        margin-bottom: .75rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

    .title-block {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

.tab-content {
    border: .1rem solid $accent;
    padding: .75rem;

    &.tab-content-danger {
        border-color: $red;
    }

    &.tab-content-success {
        border-color: $green;
    }

    &:not(:first-child) {
        border-top: none;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.tab-footer {
    background-color: $accent;
    padding: .75rem;

    &:last-child {
        margin-bottom: .75rem;
    }
}