$accent: #2788cb;

$pink: #e52262;
$red: #e74018;
$orange: #fb8009;
$yellow: #ffc000;
$lime: #c0d700;
$green: #97c800;
$fluo: #46c429;
$teal: #10b08f;
$blue: #0098df;

$accents: #14a3ff, #2788cb, #0d4382, #c58be2, #ea69ae, #8bb805, #047a36, #ffcd21, #ff7521, #ff4444, #c71f1f, #c78d68, #ccc, #999, #444;

// General

// Bootstrap components
@import 'container';
@import 'navbar';
@import 'jumbotron';
@import 'listgroup';
@import 'form';
@import 'btn';
@import 'badge';
@import 'alert';
@import 'modal';

// Custom files
@import 'editor';
@import 'comment';
@import 'fonts';
@import 'footer';
@import 'notifications';
@import 'title';
@import 'user';
@import 'night';
@import 'accents';

// SCSS
body {
    background-color: #f8f8f8;
}

.row {
    margin-right: 0;
    margin-left: 0;

    &.tab-row {
        margin-left: -.5rem;
        margin-right: -.5rem;
    }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: .5rem;
    padding-right: .5rem;
}

hr {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

// Index and profile avatar
.container-avatar {
    .avatar {
        height: 8rem;
        width: auto;
        display: block;
        margin: -2.5rem auto .75rem;
    }
}

// Avatar
.img-fluid {
    &.avatar {
        height: 8rem;
        width: auto;
    }
}

// Statusses
.status-solved {
    color: $green;
}

.status-pinned {
    color: $yellow;
}

.status-new {
    color: $pink;
}

.status-important {
    color: $blue;
}

.status-moved {
    color: $orange;
}

.status-closed {
    color: $red;
}

// Addons
#mail-addon,
#website-addon,
#microsoft-addon,
#facebook-addon,
#twitter-addon,
#google-addon {
    color: #fff;
}

#mail-addon {
    background-color: #fdcd00;
    border-color: #fdcd00;
}

#website-addon {
    background-color: #00c48a;
    border-color: #00c48a;
}

#microsoft-addon {
    background-color: #21c9ff;
    border-color: #21c9ff;
}

#facebook-addon {
    background-color: #4862a3;
    border-color: #4862a3;
}

#twitter-addon {
    background-color: #00acee;
    border-color: #00acee;
}

#google-addon {
    background-color: #da4836;
    border-color: #da4836;
}

// Contact tab
.tab-contact {
    .input-group {
        margin-bottom: .75rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}