.navbar {
  padding-top: 0;
  padding-bottom: 0; }
  .navbar .navbar-brand {
    margin: 0; }
    .navbar .navbar-brand img {
      max-height: 2rem;
      margin-top: -5px;
      display: inline; }
  .navbar .navbar-collapse .navbar-nav.my-2 {
    margin-bottom: 0 !important;
    margin-top: 0 !important; }
  .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.dropdown-user .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem; }
  .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.dropdown-notifications .dropdown-menu {
    min-width: 400px; }
  .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0; }
    .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-item {
      padding: .6rem .8rem;
      color: #fff; }
      .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-item.float-right {
        text-align: right; }
      .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-item .fa-fw {
        margin-right: 4px; }
    .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-header {
      font-size: 1.75rem;
      font-weight: 600;
      color: #fff;
      padding: .6rem .8rem; }
    .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-divider {
      margin: 0; }
  .navbar .navbar-collapse .navbar-nav .nav-item.dropdown .avatar {
    height: 3rem;
    width: auto;
    border-radius: 100%; }
  .navbar .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    display: none; }
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 1.5rem .75rem;
    color: #fff; }

.navbar.bg-primary {
  background-color: #2788cb !important; }
.navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show {
  background-color: #237ab6; }
  .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu {
    background-color: #237ab6; }
    .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-item:hover, .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-item:active, .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-item:focus {
      background-color: #1f6ba0; }
    .navbar .navbar-collapse .navbar-nav .nav-item.dropdown.show .dropdown-menu .dropdown-divider {
      border-top-color: #1b608f; }
