/* Accent 11 - Grey */
.accent-11 .navbar-inverse, .accent-11 .footer, .accent-11 .alert-all, .accent-11 .modal-form .modal-header, .accent-11 .modal-form .modal-footer, .accent-11 .navbar-inverse .navbar-toggle .icon-bar, .accent-11 .btn-primary {
	background-color: #afafaf;
}

.accent-11 .navbar-secondary, .accent-11 .first-run-profile, .accent-11 .footer .copyright, .accent-11 .panel-default .panel-heading, .accent-11 .nav-tabs > li > a:hover, .accent-11 .thread-jumbotron, .accent-11 .jumbotron, .accent-11 .user-card-profile, .accent-11 .pagination > .active > a, .accent-11 .pagination > .active > span, .accent-11 .pagination > .active > a:hover, .accent-11 .pagination > .active > span:hover, .accent-11 .pagination > .active > a:focus, .accent-11 .pagination > .active > span:focus, .accent-11 .btn-primary:hover, .accent-11 .btn-primary:focus, .accent-11 .btn-primary:active, .accent-11 .btn-primary.active, .accent-11 .btn-primary.disabled, .accent-11 [disabled].btn-primary, .accent-11 .category-header {
	background-color: #9e9e9e;
}

.accent-11 .activity-header, .accent-11 .nav-tabs > li.active > a, .accent-11 .nav-tabs > li.active > a:hover, .accent-11 .nav-tabs > li.active > a:focus, .accent-11 .navbar-default, .accent-11 .new-item .label-default, .accent-11 a.list-group-item.active, .accent-11 a.list-group-item.active:hover, .accent-11 a.list-group-item.active:focus, .accent-11 .list-group-forum .list-group-item.active.new-item {
	background-color: #8e8e8e;
}

.accent-11 .list-group-forum a.list-group-item:hover, .accent-11 .list-group-topic .list-group-item:hover {
	border-color: #afafaf;
}

.accent-11 .btn-primary {
	border-color: #9e9e9e;
}

.accent-11 .btn-primary:hover, .accent-11 .btn-primary:focus, .accent-11 .btn-primary:active, .accent-11 .btn-primary.active, .accent-11 .btn-primary.disabled, .accent-11 [disabled].btn-primary, .accent-11 .category-header, .accent-11 a.list-group-item.active, .accent-11 a.list-group-item.active:hover, .accent-11 a.list-group-item.active:focus, .accent-11 .list-group-forum .list-group-item.active.new-item {
	border-color: #8e8e8e;
}

.accent-11 .col-sm-9 a, .accent-11 a:focus, .accent-11 .pagination > li > a, .accent-11 .pagination > li > span {
	color: #9e9e9e;
}

.accent-11 a.list-group-item:hover, .accent-11 a:hover, .accent-11 a:active {
	color: #8e8e8e;
}