/* Accent 13 - White */
.navbar-default,
.title-sm.title-primary,
.panel-default .panel-heading,
.panel-primary.panel-colored .panel-body,
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.active.btn-primary,
.open .btn-primary.dropdown-toggle {
	background-color: #eee;
}

footer,
.jumboheader {
	background-color: #ddd;
}

.title-primary,
.title-sm.title-primary .input-group-addon,
.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover:active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #ccc;
}

@media all and (min-width:768px) {
	.dropdown-menu {
		background-color: #ccc;
	}
}

.panel-default,
.panel-default .panel-heading {
	border-color: #eee;
}

.btn-primary {
	border-color: #ddd;
}

.tab-content,
.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:hover:active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	border-color: #ccc;
}

.panel-warning.panel-colored,
.panel-warning.panel-colored .panel-title {
    color: #fff !important;
}

.panel-heading,
.jumbotron .container h2,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav-tabs > li > a:hover,
.panel-colored,
footer,
footer a,
.notification-menu .dropdown-header,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a,
.panel .panel-heading .panel-title .btn,
.panel.panel-colored .panel-heading .panel-title .btn:hover,
.btn-primary {
	color: #555 !important;
}

.bkg .jumbotron .container h2,
.bkg .nav-tabs > li:not(.active) > a,
.bkg .navbar-default .navbar-nav > .active > a,
.bkg .navbar-default .navbar-nav > .active > a:focus,
.bkg .navbar-default .navbar-nav > .active > a:hover,
.bkg .navbar-default .navbar-nav > li > a,
.bkg .navbar-default .navbar-nav > .active > a,
.bkg .navbar-default .navbar-nav > .active > a:hover,
.bkg .navbar-default .navbar-nav > .active > a:focus,
.bkg .navbar-default .navbar-brand:hover,
.bkg .navbar-default .navbar-brand:hover,
.bkg .navbar-default .navbar-brand:focus,
.bkg .navbar-default .navbar-nav > li > a:hover,
.bkg .navbar-default .navbar-nav > li > a:focus,
.bkg .navbar-default .navbar-nav > .open > a,
.bkg .navbar-default .navbar-nav > .open > a:hover,
.bkg .navbar-default .navbar-nav > .open > a:focus,
.bkg .navbar-default .navbar-brand,
.bkg .navbar-default .navbar-nav > li > a {
	color: #fff !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	text-shadow: none;
}

a.list-group-item:hover,
a:focus,
.editor .btn,
a {
	color: #555;
}

.panel-heading a, .panel-heading a:focus,
a:hover,
a:active,
.title-nav .nav-tabs > .active > a,
.title-nav .nav-tabs > .active > a:focus,
.title-nav .nav-tabs > .active > a:hover {
	color: #444;
}

.night .comment-default a,
.night .list-group-thread a,
.night .list-group-thread a:focus,
.night .table a,
.night .user-entry a {
    color: #ccc;
}