/* Accent 13 - White */
.navbar-default,
.panel-default .panel-heading,
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.active.btn-primary,
.open .btn-primary.dropdown-toggle {
	background-color: #eee;
}

.jumboheader {
	background-color: #ddd;
}

.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #ccc;
}

@media all and (min-width:768px) {
	.dropdown-menu {
		background-color: #ccc;
	}
}

.panel-default,
.panel-default .panel-heading {
	border-color: #eee;
}

.btn-primary {
	border-color: #ddd;
}

.panel-primary > .panel-heading,
.btn-primary:hover,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	border-color: #ccc;
}

.panel-heading,
.jumbotron .container h2,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.btn-primary {
	color: #555 !important;
}

.bkg-png .jumbotron .container h2,
.bkg-png .nav-tabs > li:not(.active) > a,
.bkg-png .navbar-default .navbar-nav > .active > a,
.bkg-png .navbar-default .navbar-nav > .active > a:focus,
.bkg-png .navbar-default .navbar-nav > .active > a:hover,
.bkg-png .navbar-default .navbar-nav > li > a,
.bkg-png .navbar-default .navbar-nav > .active > a,
.bkg-png .navbar-default .navbar-nav > .active > a:hover,
.bkg-png .navbar-default .navbar-nav > .active > a:focus,
.bkg-png .navbar-default .navbar-brand:hover,
.bkg-png .navbar-default .navbar-brand:hover,
.bkg-png .navbar-default .navbar-brand:focus,
.bkg-png .navbar-default .navbar-nav > li > a:hover,
.bkg-png .navbar-default .navbar-nav > li > a:focus,
.bkg-png .navbar-default .navbar-nav > .open > a,
.bkg-png .navbar-default .navbar-nav > .open > a:hover,
.bkg-png .navbar-default .navbar-nav > .open > a:focus,
.bkg-png .navbar-default .navbar-brand,
.bkg-png .navbar-default .navbar-nav > li > a,
.bkg-jpg .jumbotron .container h2,
.bkg-jpg .nav-tabs > li:not(.active) > a,
.bkg-jpg .navbar-default .navbar-nav > .active > a,
.bkg-jpg .navbar-default .navbar-nav > .active > a:focus,
.bkg-jpg .navbar-default .navbar-nav > .active > a:hover,
.bkg-jpg .navbar-default .navbar-nav > li > a,
.bkg-jpg .navbar-default .navbar-nav > .active > a,
.bkg-jpg .navbar-default .navbar-nav > .active > a:hover,
.bkg-jpg .navbar-default .navbar-nav > .active > a:focus,
.bkg-jpg .navbar-default .navbar-brand:hover,
.bkg-jpg .navbar-default .navbar-brand:hover,
.bkg-jpg .navbar-default .navbar-brand:focus,
.bkg-jpg .navbar-default .navbar-nav > li > a:hover,
.bkg-jpg .navbar-default .navbar-nav > li > a:focus,
.bkg-jpg .navbar-default .navbar-nav > .open > a,
.bkg-jpg .navbar-default .navbar-nav > .open > a:hover,
.bkg-jpg .navbar-default .navbar-nav > .open > a:focus,
.bkg-jpg .navbar-default .navbar-brand,
.bkg-jpg .navbar-default .navbar-nav > li > a {
	color: #fff !important;
}

.nav-tabs > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus {
	color: #fff !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	text-shadow: 0 0 5px 1px rgba(100,100,100,.5);
}