/* Accent 15 - Black */
.navbar-default,
.panel-default .panel-heading,
.panel-primary.panel-colored .panel-body,
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.active.btn-primary,
.open .btn-primary.dropdown-toggle {
	background-color: #666;
}

footer,
.jumboheader {
	background-color: #555;
}

.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover:active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #444;
}

@media all and (min-width:768px) {
	.dropdown-menu {
		background-color: #444;
	}
}

.panel-default,
.panel-default .panel-heading {
	border-color: #666;
}

.btn-primary {
	border-color: #555;
}

.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:hover:active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	border-color: #444;
}