/* Accent 2 - Blue */
.navbar-default,
.panel-default .panel-heading,
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.active.btn-primary,
.open .btn-primary.dropdown-toggle {
	background-color: #2788cb;
}

.jumboheader {
	background-color: #1a79bc;
}

.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #136cab;
}

.panel-default .panel-heading {
	border-color: #2788cb;
}

.btn-primary {
	border-color: #0589de;
}

.panel-primary > .panel-heading,
.btn-primary:hover,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	border-color: #136cab;
}

@media all and (max-width:991px) {
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		background-color: #2788cb;
		border-color: #2788cb;
	}
}