/* Accent 5 - Pink */
.navbar-default,
.title-sm.title-primary,
.panel-default .panel-heading,
.panel-primary.panel-colored .panel-body,
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.active.btn-primary,
.open .btn-primary.dropdown-toggle {
	background-color: #ea69ae;
}

footer,
.jumboheader {
	background-color: #e35da5;
}

.title-primary,
.title-sm.title-primary .input-group-addon,
.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover:active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #d15196;
}

@media all and (min-width:768px) {
	.dropdown-menu {
		background-color: #d15196;
	}
}

.panel-default,
.panel-default .panel-heading {
	border-color: #ea69ae;
}

.btn-primary {
	border-color: #e35da5;
}

.tab-content,
.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:hover:active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	border-color: #d15196;
}

a.list-group-item:hover,
a:focus,
.editor .btn,
a {
	color: #e35da5;
}

a:hover,
a:active,
.title-nav .nav-tabs > .active > a,
.title-nav .nav-tabs > .active > a:focus,
.title-nav .nav-tabs > .active > a:hover {
	color: #d15196;
}

.night .comment-default a,
.night .list-group-thread a,
.night .list-group-thread a:focus,
.night .table a,
.night .user-entry a {
    color: #f2b3d5;
}