/* Accent 6 - Ao */
.navbar-default, .panel-default .panel-heading, .btn-primary, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
	background-color: #08893e;
}

.jumboheader {
	background-color: #047a36;
}

.panel-primary > .panel-heading, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #016a2d;
}

.panel-default .panel-heading {
	border-color: #08893e;
}

.btn-primary {
	border-color: #047a36;
}

.panel-primary > .panel-heading, .btn-primary:hover {
	border-color: #016a2d;
}

@media all and (max-width:767px) {
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background-color: #08893e;
		border-color: #08893e;
	}
}