/* Accent 7 - Yellow */
.accent-7 .navbar-inverse, .accent-7 .footer, .accent-7 .alert-all, .accent-7 .modal-form .modal-header, .accent-7 .modal-form .modal-footer, .accent-7 .navbar-inverse .navbar-toggle .icon-bar, .accent-7 .btn-primary {
	background-color: #ffcb1a;
}

.accent-7 .navbar-secondary, .accent-7 .first-run-profile, .accent-7 .footer .copyright, .accent-7 .panel-default .panel-heading, .accent-7 .nav-tabs > li > a:hover, .accent-7 .thread-jumbotron, .accent-7 .jumbotron, .accent-7 .user-card-profile, .accent-7 .pagination > .active > a, .accent-7 .pagination > .active > span, .accent-7 .pagination > .active > a:hover, .accent-7 .pagination > .active > span:hover, .accent-7 .pagination > .active > a:focus, .accent-7 .pagination > .active > span:focus, .accent-7 .btn-primary:hover, .accent-7 .btn-primary:focus, .accent-7 .btn-primary:active, .accent-7 .btn-primary.active, .accent-7 .btn-primary.disabled, .accent-7 [disabled].btn-primary, .accent-7 .category-header {
	background-color: #ffb61a;
}

.accent-7 .activity-header, .accent-7 .nav-tabs > li.active > a, .accent-7 .nav-tabs > li.active > a:hover, .accent-7 .nav-tabs > li.active > a:focus, .accent-7 .navbar-default, .accent-7 .new-item .label-default, .accent-7 a.list-group-item.active, .accent-7 a.list-group-item.active:hover, .accent-7 a.list-group-item.active:focus, .accent-7 .list-group-forum .list-group-item.active.new-item {
	background-color: #ffa11a;
}

.accent-7 .list-group-forum a.list-group-item:hover, .accent-7 .list-group-topic .list-group-item:hover {
	border-color: #ffcb1a;
}

.accent-7 .btn-primary {
	border-color: #ffb61a;
}

.accent-7 .btn-primary:hover, .accent-7 .btn-primary:focus, .accent-7 .btn-primary:active, .accent-7 .btn-primary.active, .accent-7 .btn-primary.disabled, .accent-7 [disabled].btn-primary, .accent-7 .category-header, .accent-7 a.list-group-item.active, .accent-7 a.list-group-item.active:hover, .accent-7 a.list-group-item.active:focus, .accent-7 .list-group-forum .list-group-item.active.new-item {
	border-color: #ffa11a;
}

.accent-7 .col-sm-9 a, .accent-7 a:focus, .accent-7 .pagination > li > a, .accent-7 .pagination > li > span {
	color: #ffb61a;
}

.accent-7 a.list-group-item:hover, .accent-7 a:hover, .accent-7 a:active {
	color: #ffa11a;
}