@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);

/* General fixes */
* {
	border-radius: 0 !important;
}

html {
    overflow-y: scroll;
	background-color: #e8e8e8;
}

body {
	background-color: transparent;
}

body, html {
	font-family: "Segoe UI", "Open Sans", Helvetica, Arial, sans-serif;
	min-height: 100%;
}

.container * {
	box-shadow: none !important;
}

h2 {
	margin-top: 0;
}

.inline {
	display: inline-block;
}

.nothing {
	margin: 30px 0;
}

.row-nav {
	margin-bottom: 5px;
}

.emoji, .emoji-ed {
	font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", "Android Emoji", "NotoColorEmoji", "EmojiSymbols" !important;
}

.emoji-ed {
	font-size: 16px;
}

.emoticon-ed {
	padding: 13px 18px 15px !important;
}

.dropdown-backdrop {
	top: auto;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI Light", "Segoe UI", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 100;
}

.text-center {
	margin-bottom: 0;
}

.text-primary {
	color: #E27BF4;
}

.text-success {
	color: #A2D30C;
}

.text-info {
	color: #33AFFF;
}

.text-warning {
	color: #FDC500;
}

.text-danger {
	color: #FF6E00;
}

.fade-50 {
	opacity: .5;
}

.fade-50:hover {
	opacity: 1;
}

/* General design */
.container-main {
	background: #fff;
	box-shadow: 0 0 30px #aaa;
	padding: 0;
}

.enforce .container-main {
	box-shadow: 0 0 30px rgba(0,0,0,.3);
}

@media screen and (min-width: 1500px) {
	.container-main {
		width: 1400px;
	}
}

/* Addons */
#mail-addon, #website-addon, #microsoft-addon, #facebook-addon, #twitter-addon, #google-addon {
	color: #fff;
}

#mail-addon {
	background-color: #fdcd00;
}

#website-addon {
	background-color: #00c48a;
}

#microsoft-addon {
	background-color: #21c9ff;
}

#facebook-addon {
	background-color: #4862a3;
}

#twitter-addon {
	background-color: #00acee;
}

#google-addon {
	background-color: #da4836;
}

/* Header */
.dropdown-menu {
	padding: 0;
}

.dropdown-menu .divider {
	margin: 0;
}

.dropdown-menu > li > a, .dropdown-header {
	padding: 9px 20px;
	white-space: normal;
}

.dropdown-header {
	font-size: 20px;
}

.notification-menu {
	width: 400px;
}

.notification-menu .timestamp {
	color: #aaa;
}

.notification-menu li {
	position: relative;
}

.notification-menu li .notification-action {
	color: #999;
	display: none;
	padding: 9px 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 32px;
}

.notification-menu li .notification-action.action-check {
	right: 10px;
}

.notification-menu li .notification-action.action-delete {
	right: 42px;
}

.notification-menu li:not(.no-hover):hover, .notification-menu li:hover a {
	background: #f5f5f5;
}

.notification-menu li:hover .notification-action {
	display: block;
}

.notification-menu li:hover .notification-link {
	opacity: 0.8;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 328px;
}

.notification-menu li:hover .notification-link .timestamp {
	display: none;
}

@media screen and (max-width: 767px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: none;
		box-shadow: none;
	}
	
	.dropdown-menu > li > a {
		color: #fff !important;
	}
}

.navbar-inverse {
	border: none;
	margin-bottom: 0;
	background-color: #2788cb;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color: #fff;
	background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: transparent;
	text-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
}

.navbar-secondary {
	background: #1a79bc;
	box-shadow: 0 0 20px rgba(0,0,0,.2) !important;
}

@media all and (min-width: 768px) {
	.navbar-secondary {
		z-index: 998;
	}

	.navbar-secondary .container {
		padding: 0;
		font-size: 16px;
		z-index: 0;
	}

	.navbar.navbar-secondary {
		min-height: 42px !important;
	}

	.navbar-secondary .navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 15px;
	}
}

.navbar .avatar {
	display: inline;
}

.open .avatar-item .avatar {
	box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5) !important;
}

.navbar-right > .dropdown, :last-child.navbar-right.navbar-nav {
	margin-right: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}

.navbar #search {
	align-content: center;
}

.avatar-item .avatar {
	padding: 0;
	border: 0;
	margin: 0;
	width: 40px;
	height: 40px;
}

.avatar-item {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.avatar-me {
	height: 70px;
	width: auto;
}

.navbar #search {
	margin-left: 0;
	margin-right: 0;
}

.navbar-form * {
	border: none;
}

.btn-search {
	padding: 7px 12px !important;
}

.navbar-default .navbar-toggle, .navbar-inverse .navbar-toggle {
	border: transparent;
}

.navbar-default .navbar-toggle .icon-bar, .navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff;
}

/* Footer */
.footer {
	background: #2788cb;
	color: #fff;
}

@media (min-width: 768px) {
	.footer .copyright .col-sm-2 {
		width: 16.66%;
	}
}

.footer a, .footer a:hover, .footer a:active, .footer a:focus {
	color: #fff;
	text-decoration: none;
}

.footer .copyright {
	background: #1a79bc;
	padding: 10px 0;
}

.stats {
	margin-top: 10px;
	margin-bottom: 10px;
}

.statistic-item {
	font-size: 17px;
	text-align: right;
}

.statistic-item-stat {
	font-size: 17px;
	text-align: left;
	text-transform: lowercase;
}

/* Index */
.category-title {
	margin-top: 0;
}

.index {
	margin-top: 10px;
}

.col-md-9 {
	padding-left: 30px;
	padding-right: 15px;
}

/* Sidebar */
.col-sm-3 hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.list-group {
	margin-bottom: 7px;
}

a.list-group-item.active:hover {
	color: #fff !important;
}

.list-group-forum .list-group-item:not(:first-child) {
	border-top-color: #ccc !important;
}

.list-group-forum .list-group-item.new-item {
	border-left-color: #e3e3e3;
	background-color: #f3f3f3;
}

.list-group-topic .list-group-item {
	border: none;
	border-left: 5px solid #f8f8f8;
	background-color: #fbfbfb;
	margin-top: 2px;
}

.list-group-topic .list-group-item.new-item {
	border-left: 5px solid #e3e3e3;
	background-color: #f3f3f3;
}

.list-group-topic .list-group-item:hover {
	border-left-color: #e8e8e8;
	background-color: #f8f8f8;
}

h5.list-group-head {
	text-transform: uppercase;
	margin-left: 20px;
	font-family: "Segoe UI Semibold";
}

a.list-group-item-cat h4 {
	margin-top: 0;
	margin-bottom: 3px;
	padding: 10px 15px;
	color: #fff;
}

.new-item.active {
	color: #fff;
}

a.list-group-item-cat .forum-description {
	display: block;
	padding: 10px 0 10px 15px;
	border-top: #ddd 1px solid;
	background-color: #eee;
}

a.list-group-item-cat:hover .forum-description {
	background-color: #e6e6e6;
}

.list-group-forum a.list-group-item {
	border: 0;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #fff;
}

.list-group-enabled {
	border-left-color: #95f4ac !important;
}

.list-group-disabled {
	border-left-color: #ef978e !important;
}

/* Forumview */
h2.forum-title {
	color: #fff !important;
	display: inline-block;
	margin-bottom: -12px;
}

h2.forum-title .btn {
	border: none;
}

.forum-desc {
	margin-bottom: 5px;
}

.forum-desc a {
	color: rgba(255, 255, 255, .7);
}

.forum-desc a:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.forumview {
	margin-top: 10px;
}

.forum-desc {
	color: #fff;
}

/* Modal forms */
#login-form .modal-xs, #delete-form .modal-xs {
	max-width: 300px;
}

@media screen and (max-width: 767px) {
	.modal-dialog {
		margin: 30px auto;
	}
}

#newpass .modal-xs, #newmail .modal-xs, #newpass .modal-xs {
	max-width: 500px;
}

.modal-form .modal-content {
	border: none;
	background: none;
}

.modal-form form {
	margin-bottom: 0;
}

.modal-form .modal-header, .modal-form .modal-footer {
	color: #fff;
	background: #2788cb;
}

.modal-form#delete-form .modal-header, .modal-form#delete-form .modal-footer {
	color: #fff;
	background: #d9534f;
}

.modal-form .modal-title {
	font-size: 30px;
}

.modal-form .modal-footer a {
	color: #fff;
}

.modal-form .modal-footer a:hover {
	color: #ccc;
	text-decoration: none;
}

.modal-form .modal-body {
	background: #e8e8e8;
}

#login-form .form-control, #newmail .form-control, #newpass .form-control {
	margin-bottom: 10px;
}

.modal-form .form-control {
	border: none;
}

/* First run */
.first-run {
	border: none;
	margin-top: 0 !important;
}

.first-run-content {
	background: #eee;
	margin-left: 0;
	margin-right: 0;
}

.first-run-content h3 {
	margin-top: 15px;
}

.first-run-profile {
	background: #1a79bc;
	padding-bottom: 16px;
}

.first-run-title {
	color: #fff;
	text-align: center;
}

.first-run-avatar {
	background: none;
	border: none;
	margin-bottom: 0;
}

.first-run-avatar img {
	border-radius: 3px;
	max-height: 120px;
	max-width: auto;
}

.first-run-login {
	margin-right: 15px;
	padding-top: 5px;
}

.first-run .active {
	text-align: center;
}

@media screen and (max-width: 767px) {
	.first-run-profile {
		margin-top: -15px;
	}

	.first-run-title {
		padding-top: 15px;
	}

	.first-run-list {
		margin-left: 0;
		margin-right: 0;
		margin-top: 15px;
	}

	.first-run-login {
		margin-right: 0;
	}
}

@media screen and (min-width: 767px) {
	.first-run-list {
		margin: 15px 0;
	}
}

/* Editor */
input[type="text"].info-textfield, input[type="text"].info-textfield:focus {
	border: none;
}

.info-textfield:-ms-input-placeholder.form-control, .info-textfield.form-control {
	font-size: 20px;
}

textarea.textarea, textarea.textarea:focus {
	border: none;
}

.textarea-toolbar {
	margin: 0;
}

.textarea-bottom {
	border-top: #ddd 1px solid;
}

.textarea-top {
	border-bottom: #ddd 1px solid;
}

.textarea-toolbar .btn-group {
	padding: 0;
	margin: 0;
	border-right: #ccc 1px solid;
}

.textarea-toolbar .btn-group:last-child {
	border-right: none;
}

.textarea-toolbar .btn-emoji {
	padding: 11px 16px 12px !important;
}

@media screen and (min-width: 767px) {
	.textarea-toolbar .btn-with-text {
		padding: 12px 18px 13px !important;
	}
}

.textarea-toolbar .btn {
	border: none;
	padding: 14px 18px;
}

.dropdown-emoji {
	width: 230px;
}

.dropdown-emoticon {
	width: 206px;
}

.dropdown-emoji > li, .dropdown-emoticon > li {
	display: inline-block;
	float: left;
}

.dropdown-emoji > .open > ul, .dropdown-emoticon > .open > ul {
	display: inline-flex !important;
	width: 230px;
}

.fa-fw {
	width: 1.1em !important;
}

.text-emoji {
	font-size: 17px;
}

/* Panels */
.panel {
	margin-bottom: 10px;
	margin-top: 15px;
}

.panel-default .panel-heading {
	border: none;
	background: #0d4382;
	color: #fff;
}

/* Pagination */
.pagination {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border: 1px solid #1d8ae0;
	background-color: #1d8ae0;
}

/* Inbox */
nav .progress {
	margin: 15px 10px;
	background-color: #fff;
}

/* Profile */
@media (max-width: 767px) {
	.profile.col-sm-9 {
		padding-left: 0;
	}
}

.profile.col-sm-9 {
	padding-right: 0;
}

.profile-nav {
	padding-left: 0;
	padding-right: 0;
}

a.active.list-group-item, a.active.list-group-item:hover, a.active.list-group-item:focus {
	background-color: #0d4382;
	border-color: #0d4382;
}

.profile-h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.user-card-title {
	color: #fff;
	text-align: center;
	padding-top: 10px;
	margin-top: 0;
	font-size: 29px;
}

.user-card-avatar {
	background: none;
	border: none;
	padding-bottom: 17px;
}

.profile-settings-head {
	padding-top: 10px;
}

.form-setting {
	margin-top: 10px;
}

/* Me */
.nav-tabs.activity-tab {
	border: none;
}

.nav-tabs > li > a {
	border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:focus {
	border: none;
	color: #fff !important;
}

.nav-tabs > li > a:hover {
	border: none;
	color: #fff;
	background-color: #0d4382;
}

.activity-header {
	margin-top: 0;
	padding: 10px 10px 15px;
	color: #fff;
	background-color: #0d4382;
}

/* Inbox */
.navbar-default {
	border: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
}

/* Comment messages */
.bblinks {
	padding-top: 5px;
	float: right;
}

.bblinks li {
	display: inline;
}

.player {
	max-width: 100%;
	max-height: 100%;
}

.blockpost .postbody {
	border-left-style: solid;
	border-left-width: 1px;
	float: right;
	margin-right: -218px;
	position: relative;
	text-align: left;
	width: 100%;
}

.blockpost .postleft {
	padding: 7px 12px 7px 18px;
	float: left;
	position: relative;
}

.username {
	margin: 0;
}

.time-nr {
	font-size: 80%;
	color: #aaa;
}

.postedit {
	font-size: 11px;
	color: #bbb;
}

.modcontrols {
	padding-bottom: 8px;
}

.marked .well-content {
	background-color: #fff1eb;
}

.marked .well .media {
	background-color: #ffe2d5;
}

.marked .well hr {
	border-top: 1px solid #ffc8b3;
}

.soft .well-content {
	background-color: #fffbe7;
}

.soft .well .media {
	background-color: #fff6c9;
}

.soft .well hr {
	border-top: 1px solid #fbeb91;
}

.answer .well-content {
	background-color: #f1fce6;
}

.answer .well .media {
	background-color: #e3f8cd;
}

.answer .well hr {
	border-top: 1px solid #c3dea5;
}

/* Threads */
.topicview {
	margin-top: 10px;
}

.comment .well-comment {
	margin: 0;
	border: none;
	background-color: #f8f8f8;
	margin-bottom: 5px;
}

.well-comment {
	padding: 0;
}

.well-comment .media {
	background: #eee;
}

.well-comment .well-content {
	padding: 10px;
}

.media-avatar {
	height: 50px;
	width: auto;
}

.well .media-heading {
	margin-top: 13px; 
	margin-right: 10px;
}

.comment hr {
	margin-top: 10px;
	margin-bottom: 5px;
}

.commentfield textarea, .commentfield textarea:focus {
	border: none;
	height: 170px;
}

.commentmax textarea, .commentmax textarea:focus {
	height: 400px;
}

.commentfield input[type="text"], .postfield input[type="text"] {
	border: none;
	border-bottom: #eee solid 1px;
	font-size: 20px;
	line-height: 0.8;
}

#commentform > .panel {
	margin-top: 10px;
}

/* Table */
.table > tbody > tr > td.user-data {
	background-color: #f7f7f7;
}

.table > thead > tr.active {
	color: #fff;
	background: #057ed4;
	background: linear-gradient(to right, #057ed4, #10c1f0);
}

.category-header {
	color: #fff;
	background: #0d4382;
	padding: 8px 0;
}

.table > tbody > tr > td {
	color: #232323;
	background-color: #fff;
}

.table thead > tr > .postbreadcrumb, .table tbody > tr > .postbreadcrumb, .table tfoot > tr > .postbreadcrumb, .table thead > tr > td > .postbreadcrumb, .table tbody > tr > td > .postbreadcrumb, .table tfoot > tr > td > .postbreadcrumb {
	padding: 0;
}

.postbreadcrumb .breadcrumb {
	margin: 0;
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
	background: none;
}

/* Buttons */
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
	color: #ffffff;
}

.btn-primary {
	color: #fff;
	background-color: #057ed4;
	border-color: #0071c1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #0071c1;
	color: #fff;
}

.btn-primary:active, .btn-primary.active {
	background-color: #0062a8;
}

.btn-post {
	margin-top: 0;
	margin-left: 5px;
	margin-bottom: 10px;
}

.panel-title .btn {
	margin-top: -10px;
	margin-right: -15px;
	padding: 8px 14px 9px 14px;
	border: none;
}

/* Labels */
.label {
	padding: 4px 8px;
}

a.label {
	color: #fff !important;
}

.label-primary {
	background: #e8e8e8;
	color: #8e8e8e;
}

.label-default {
	background: #b8b8b8;
}

.label-success {
	background: #95c636;
}

.label-info {
	background: #2ac6e2;
}

.label-warning {
	background: #ffae00;
}

.label-danger {
	background: #ea4322;
}

/* Alerts */
.alert-section {
	color: #fff;
	border: none;
}

.alert-section .btn {
	border: none;
}

.alert-section h3 {
	margin-top: 0;
	margin-bottom: 4px;
}

/* Forms */
fieldset label {
	display: block;
	padding: 0 0 7px 0;
}

label .help-block {
	font-weight: 400;
	letter-spacing: 0.5px;
	font-size: 85%;
}

textarea {
		resize: vertical;
}

/* Breadcrumbs and button */
.row-nav-fix {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Status Indicators */
.icon {
	border-color: #dcdcdc;
	margin-left: -3px;
	margin-top: 1px;
}

.iredirect .icon {
	border-color: #818181;
	border-width: 4px;
	padding: 4px;
}

.inew .icon {
	border-color: #2ca0e9;
}

/* Search */
.result-card {
	background: #fff;
	padding: 10px;
	margin-top: 10px;
	border: #ddd solid 1px;
}

.result-card h3, .result-card p {
	margin: 0;
}

.result-card .help-block {
	margin-top: 0;
	opacity: .5;
}

.result-card:not(last-child) {
	margin-bottom: 10px;
}

#search .panel-body {
	background-color: #ddd;
}

/* Userlist */
.userlist {
	padding-top: 15px;
}

.user-entry {
	background-color: #eee;
	padding: 0;
	margin: 0 0 10px 0;
	height: 100px;
}

.user-entry img.media-object {
	width: 100px;
	height: 100px;
}

.user-entry h2 {
	margin-top: 13px;
	margin-bottom: 0;
}

.user-entry h4 {
	margin: 0;
}

/* Forum */
.topic-entry-list {
	margin-top: 15px;
}

.topic-index-entry.soft {
	background-color: #fffbe7;
}

.topic-entry {
	background: #eee;
	padding: 10px;
	margin-bottom: 10px;
}

.topic-entry h3 {
	margin: 0;
}

.middot {
	visibility: hidden;
}

.posted-item .middot {
	visibility: visible;
}

/* Titles */
.jumbotron {
	padding: 10px 15px;
	margin-bottom: 0;
}

.jumbotron h2 {
	color: #fff;
	display: inline-block;
	margin-left: 0;
}

.jumbotron .btn {
	border: none;
}

.jumbotron .btn .fa {
	margin: 4px 0;
}

.jumbotron .btn {
	margin-top: 5px;
	margin-bottom: -5px;
}

.jumbotron .input-group-btn .btn {
	margin: 0;
}

.jumbotron form {
	margin-bottom: 0;
	margin-top: 4px;
}

.jumbotron form .form-control {
	border: none;
}

.jumbotron .pagination {
	margin-top: 5px;
}

.jumbotron .pagination > li > a, .jumbotron .pagination > li > span {
	border: none;
	border-left: 1px solid #ddd;
}

.jumbotron .pagination > .active > a, .jumbotron .pagination > .active > span, .jumbotron .pagination > .active > a:hover, .jumbotron .pagination > .active > span:hover, .jumbotron .pagination > .active > a:focus, .jumbotron .pagination > .active > span:focus {
	border: none;
}

.thread-jumbotron {
	padding: 10px 15px 15px !important;
	margin-bottom: 5px;
	margin-top: 0;
}

.thread-jumbotron h2 {
	margin: 0;
	padding-top: 40px;
}

/* Debug */
#debug {
	border-style: dotted none none none;
	border-width: 1px 0 0 0;
	margin-top: 7px;
	text-align: center;
}

/* Links */
a {
	color: #428bca;
}

a:hover, a:active {
	color: #2a6496;
}

a.list-group-item:hover, a.list-group-item:active {
	color: #2788cb;
}

/* BBCode */
span.bbu {
	text-decoration: underline;
}

span.bbs {
	text-decoration: line-through;
}

blockquote {
	font-size: 14px;
}

blockquote footer {
	font-size: 16px;
}

:not(pre) > code[class*='language-'], pre[class*='language-'] {
	border: none;
}

/* Update and login form */
.form-update {
	max-width: 330px;
	margin: 60px auto 20px;
	background-color: #fff;
}

.form-sidebar {
	max-width: 100%;
	margin: 0;
}

.form input[type="text"], .form input[type="password"] {
	font-size: 14px;
	margin-bottom: -1px;
	padding: 7px 9px;
	width: 100%;
}

.form-heading {
	margin-bottom: 0px;
	font-weight: 100;
	background: #057ed4;
	background: linear-gradient(to right, #057ed4, #10c1f0);
	color: #fff;
	padding: 20px;
}

.form-content {
	padding: 15px 18px 10px 20px;
}

.form-sidebar .form-content {
	padding: 0;
	padding-right: 15px;
}

.remember {
	font-weight: 500 !important;
}

.form-text {
	margin: 0;
	padding: 20px;
}

.form .btn-login {
	margin-top: -35px;
}

@media screen and (min-width: 768px) {
	.form .btn-login {
		margin-right: 15px;
	}
}

.form .btn-update {
	margin-top: 0 !important;
	border-top: none;
}

.form .actions, .form .remember {
	margin-top: 10px;
}

@media screen and (max-width: 767px) {
	.modcontrols .btn-toolbar .btn-group > :first-child {
		margin-bottom: 10px;
	}
	
	.panel-body {
		border: none;
	}
}

/* Color choise */
.color-accent {
	padding: 21px;
	margin-left: 1px;
	margin-right: 1px;
}

.accent-group .btn-group > :first-child:not(.dropdown-toggle):not(:last-child).btn, .accent-group .btn-group > :last-child:not(:first-child).btn, .btn-group > :not(:first-child).dropdown-toggle {
	border-radius: 0;
}

.accent-group .btn {
	box-shadow: none;
	border: 3px solid #fff !important;
}

.accent-group .btn:hover, .accent-group .btn:focus, .accent-group .btn:active, .accent-group .active.btn {
	border: 3px solid #bbb !important;
}

.btn-primary.color-accent.accent-1 {
	background-color: #14a3ff !important;
}

.btn-primary.color-accent.accent-2 {
	background-color: #2788cb !important;
}

.btn-primary.color-accent.accent-3 {
	background-color: #0d4382 !important;
}

.btn-primary.color-accent.accent-4 {
	background-color: #c58be2 !important;
}

.btn-primary.color-accent.accent-5 {
	background-color: #8bb805 !important;
}

.btn-primary.color-accent.accent-6{
	background-color: #047a36 !important;
}

.btn-primary.color-accent.accent-7 {
	background-color: #ffcd21 !important;
}

.btn-primary.color-accent.accent-8 {
	background-color: #ff7521 !important;
}

.btn-primary.color-accent.accent-9 {
	background-color: #ff4444 !important;
}

.btn-primary.color-accent.accent-10 {
	background-color: #ccc !important;
}

.btn-primary.color-accent.accent-11 {
	background-color: #999 !important;
}

.btn-primary.color-accent.accent-12 {
	background-color: #444 !important;
}

/* Cookie bar */
.cookie-bar {
	background: #393939;
}

.cookie-bar .navbar-text, .cookie-bar .btn-link {
	color: #fff !important;
}

.cookie-bar .navbar-form {
	border-top: none;
	border-bottom: none;
}

@media screen and (max-width: 767px) {
	.cookie-bar .navbar-text {
		margin-left: 15px;
		margin-right: 15px;
	}

	.cookie-bar .navbar-form {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 15px;
	}
}

/* Accents */
a.btn.btn-primary, a.btn.btn-danger, a.btn.btn-warning, .profile-nav a.list-group-item.active:hover {
	color: #fff !important;
}

.modal-backdrop.in {
	opacity: .8;
}

/* Night mode */
.night body, html.night {
	background-color: #333;
	color: #ddd;
}

.night .container-main {
	background: #444;
	box-shadow: 0 0 30px #222;
}

.night .first-run-content {
	background: #555;
}

.night hr {
	border-top-color: #555;
}

.night .accent-group .btn {
	border-color: #444 !important;
}

.night .accent-group .btn:hover, .night .accent-group .btn:focus, .night .accent-group .btn:active, .night .accent-group .active.btn {
	border-color: #666 !important;
}

.night .nav-tabs {
	border-color: #555;
}

.night .panel-default {
	border-color: #555;
	background-color: #444;
}

.night .list-group-item {
	background-color: #444;
}

.night .list-group-item, .night .list-group-item.active, .night .list-group-item.active:hover {
	border-color: #555;
	color: #fff;
}

.night .list-group-item:hover {
	background-color: #404040;
}

.night a.list-group-item:hover, .night .col-sm-9 a, .night a:focus {
	color: #fff;
}

.night .list-group-forum .list-group-item.new-item {
	background-color: #3b3b3b;
	border-color: #333;
}

.night #search .panel-body, .night .user-entry {
	background-color: #555;
}

.night .list-group-forum a.list-group-item {
	border-color: #3f3f3f;
}

.night .label-default {
	background-color: #333;
}

.night .well-comment .media {
	background: #333;
}

.night .comment .panel-default {
	background-color: #3b3b3b;
}

.night .list-group-topic .list-group-item {
	border-color: #3e3e3e;
	background-color: #404040;
}

.night .list-group-topic .list-group-item.new-item {
	background-color: #3b3b3b;
	border-color: #333;
}

.night .list-group-topic .list-group-item:hover {
	background-color: #3b3b3b;
}

.night .panel-editor .btn-default {
	background-color: #333;
}

.night .panel-editor .btn-default:hover {
	background-color: #3f3f3f;
}

.night .textarea-toolbar .btn-group, .night .textarea-top, .night .textarea-bottom {
	border-color: #555;
}

.night .panel-default .editor {
	background-color: #333;
}

.night .panel-editor .btn-default {
	color: #fff;
}

.night .input-group-addon {
	border-color: #222;
}

.night .form-control {
	background-color: #333;
	color: #ddd;
	border-color: #222;
}

.night .well {
	background-color: #3d3d3d;
	border-color: #333;
}

.night .btn-search {
	background-color: #333;
	color: #ddd;
}

.night .btn-search:hover {
	background-color: #393939;
}

.night .table > tbody > tr > td {
	background-color: #444;
	color: #fff;
}

.night .table > thead > tr > th {
	border-color: #555;
}

.night .marked .well-content {
	background-color: #6e4e40;
}

.night .marked .well .media {
	background-color: #60301a;
}

.night .marked .well hr {
	border-top: 1px solid #5f311e;
}

.night .soft .well-content {
	background-color: #4e4b3b;
}

.night .soft .well .media {
	background-color: #665e34;
}

.night .soft .well hr {
	border-top: 1px solid #655a24;
}

.night .answer .well-content {
	background-color: #3f4b34;
}

.night .answer .well .media {
	background-color: #2e3d20;
}

.night .answer .well hr {
	border-top: 1px solid #2e3d20;
}