/* Accent 2 - Blue */
/*
 * Light: 6bfdde
 * Semilight: 5ae7d8
 * Neutral: 44ccd0
 * Semidark: 2dafc7
 * Dark: 1895c0
 */
 
.navbar-inverse {
	background: #1895c0;
	background: linear-gradient(to top, #2dafc7, #1895c0);
}

.first-run-profile {
	background: #1895c0;
	background: linear-gradient(to top, #44ccd0, #2dafc7);
}

.footer {
	background: #1895c0;
	background: linear-gradient(to top, #44ccd0, #2dafc7);
}

.footer .copyright {
	background: #1895c0;
}

a.list-group-item.active {
	border-color: #2dafc7;
	background-color: #2dafc7;
	background: linear-gradient(to top, #2dafc7, #44ccd0);
}

a.list-group-item.active:hover {
	border-color: #1895c0;
	background-color: #1895c0;
	background: linear-gradient(to top, #1895c0, #2dafc7);
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	color: #2dafc7 !important;
}

.nav-tabs > li > a::after, .alert-section {
	background: #2dafc7;
}

.alert-section {
	border-color: #1895c0;
}