/* List group items */
.list-group-item h3 {
	margin: 0;
}

/* Category header */
.alert-all {
	margin-bottom: 7px;
}

/* Forum */
.jumbotron h2.forum-title {
	margin-bottom: 10px;
	color: #fff !important;
}

.forum-entry {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 7px;
	border-left: 5px solid #f8f8f8;
	background-color: #fbfbfb;
}

.forum-entry:hover {
	background: #e8e8e8;
	border-left-color: #e8e8e8;
	background-color: #f8f8f8;
}

.row.forum-entry.new-item {
	border-left-color: #e3e3e3;
	background-color: #f3f3f3;
}

.forum-desc {
	color: #fff;
}