/* List group items */
.list-group-item h3 {
	margin: 0;
}

/* Forum */
.jumbotron h2.forum-title {
	margin-bottom: 10px;
	color: #fff !important;
}

.forum-entry {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #ddd 1px solid;
}

.forum-desc {
	color: #fff;
}