@import url('../../include/css/font-awesome.min.css');

/* General fixes */
* {
	border-radius: 0 !important;
	box-shadow: none !important;
}

body, html {
	background-color: #fff;
	font-family: "Segoe UI", Arial;
}

footer {
	padding-bottom: 15px;
}

footer .pull-right {
	padding-bottom: 15px;
}

h2 {
	margin-top: 0;
}

.nothing {
	margin: 30px 0;
}

.row-nav {
	margin-bottom: 5px;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI Light", "Segoe UI", Arial;
	font-weight: 100;
}

.text-center {
	margin-bottom: 0;
}

.text-primary {
	color: #E27BF4;
}

.text-success {
	color: #A2D30C;
}

.text-info {
	color: #33AFFF;
}

.text-warning {
	color: #FDC500;
}

.text-danger {
	color: #FF6E00;
}

/* Header */
.dropdown-menu {
    border-width: 0 1px 1px;
	padding: 0;
}

.dropdown-menu .divider {
	margin: 0;
}

.dropdown-menu > li > a, .dropdown-header {
	padding: 9px 20px;
}

.dropdown-header {
	font-size: 20px;
}

.notification-menu {
	width: 400px;
}

@media screen and (max-width: 767px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: none;
		box-shadow: none;
	}
}

.navbar-inverse {
	border: none;
	margin-bottom: 0;
    background-color: #555;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: transparent;
    text-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
}

.open .avatar-item .avatar {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5) !important;
}

.navbar-right > .dropdown, :last-child.navbar-right.navbar-nav {
	margin-right: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}

@media all and (min-width:768px) {
	.navbar-inverse .navbar-nav > li > a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.navbar-inverse .navbar-brand {
	height: 70px;
	padding: 25px 15px;
}

.announcement a {
	text-decoration: underline;
}

.avatar-item .avatar {
	padding: 0;
	border: 0;
	margin: 5px 0;
	border-radius: 999px !important;
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

.avatar-item {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

@media all and (max-width: 767px) {
	.navbar-brand {
		height: 50px;
		padding: 15px 15px;
	}

	.navbar-inverse .navbar-toggle {
		margin: 8px 15px 8px 0;
	}
}

/* Index */
.category-title {
	margin-top: 0;
}

.list-group {
	margin-bottom: 7px;
}

.list-group-item-cat {
	padding: 0;
}

.list-group-forum .list-group-item:not(:first-child) {
	border-top-color: #ccc !important;
}

a.list-group-item-cat h4 {
	margin-top: 0;
	margin-bottom: 3px;
	padding: 10px 15px;
	color: #fff;
}

a.list-group-item-cat .forum-description {
	display: block;
	padding: 10px 0 10px 15px;
	border-top: #ddd 1px solid;
	background-color: #eee;
}

a.list-group-item-cat:hover .forum-description {
	background-color: #e6e6e6;
}

.col-md-9 {
	padding-left: 30px;
	padding-right: 15px;
}

.forum-entry .col-sm-4 {
	text-align: right;
}

@media all and (max-width: 767px) {
	.forum-entry .col-sm-4 {
		text-align: center;
	}
}

.forum-entry .col-sm-4 h4 {
	margin-top: 7px;
	font-size: 25px;
}

.forum-entry .col-sm-4 .help-block {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 85%;
	margin-bottom: 0;
}

.forum-entry .list-group {
	margin-bottom: 0;
}

.forum-entry .list-group-item {
	margin-top: 1px;
	padding: 6px 10px;
}

@media all and (max-width: 400px) {
	.forum-entry .list-group-item .pull-right {
		display: none;
	}
}

.hr-forum-entry hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.statistic-item {
	font-size: 17px;
	color: #0068b0;
	text-align: center;
}

.statistic-grey {
	font-size: 17px;
	color: #bbb;
	text-align: center;
	text-transform: lowercase;
}

/* Modal forms */
#login .modal-xs {
	max-width: 300px;
}

#newpass .modal-xs, #newmail .modal-xs, #newpass .modal-xs {
	max-width: 500px;
}

.modal-form .modal-content {
	border: none;
	background: none;
}

.modal-form form {
	margin-bottom: 0;
}

.modal-form .modal-header, .modal-form .modal-footer {
	color: #fff;
	background: #555;
}

.modal-form .modal-title {
	font-size: 30px;
}

.modal-form .modal-footer a {
	color: #fff;
}

.modal-form .modal-footer a:hover {
	color: #ccc;
	text-decoration: none;
}

.modal-form .modal-body {
	background: #e8e8e8;
}

#login .form-control, #newmail .form-control, #newpass .form-control {
	margin-bottom: 10px;
}

.modal-form .form-control {
	border: none;
}

/* First run */
.first-run {
	border: none;
	margin-top: 0 !important;
}

.first-run-content {
	background: #eee;
	margin-left: 0;
	margin-right: 0;
}

.first-run-content h3 {
	margin-top: 15px;
}

.first-run-profile {
	background: #444;
	padding-bottom: 16px;
}

.first-run-title {
	color: #fff;
	text-align: center;
}

.first-run-avatar {
	background: none;
	border: none;
}

.first-run-avatar img {
	border-radius: 3px;
}

.first-run-login {
	margin-right: 15px;
}

.first-run .active {
	text-align: center;
}

@media screen and (max-width: 767px) {
	.first-run-content {
		padding-right: 15px;
	}

	.first-run-profile {
		margin-top: -15px;
	}

	.first-run-title {
		padding-top: 15px;
	}

	.first-run-list {
		margin-left: 0;
		margin-right: 0;
	}

	.first-run-login {
		margin-right: 0;
	}
}

@media screen and (min-width: 76px) {
	.first-run-list {
		margin: 15px 0;
	}
}

/* Editor */
input[type="text"].info-textfield, input[type="text"].info-textfield:focus {
	border: none;
}

.info-textfield:-ms-input-placeholder.form-control, .info-textfield.form-control {
	font-size: 20px;
}

textarea.textarea, textarea.textarea:focus {
	border: none;
}

.textarea-toolbar {
    margin: 0;
    border-bottom: #ddd 1px solid;
}

.textarea-toolbar .btn-group {
	padding: 0;
	margin: 0;
	border-right: #ccc 1px solid;
}

.textarea-toolbar .btn-group:last-child {
	border-right: none;
}

.textarea-toolbar .btn {
	border: none;
	padding: 12px 18px;
}

.fa-fw {
	width: 1.1em !important;
}

.fa {
	margin: 3px 0;
}

/* Panels */
.panel {
	margin-bottom: 10px;
	margin-top: 15px;
}

.panel-default .panel-heading {
	border: none;
	background: #0d4382;
	color: #fff;
}

/* Pagination */
.pagination {
	margin: 0;
	float: right;
}

.pagination-fix {
	margin-top: 10px;
	margin-bottom: 5px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border: 1px solid #1d8ae0;
	background-color: #1d8ae0;
}

/* Inbox */
nav .progress {
	margin: 15px 10px;
	background-color: #fff;
}

/* Profile */
.profile-nav {
	padding-left: 0;
	padding-right: 0;
}

a.active.list-group-item, a.active.list-group-item:hover, a.active.list-group-item:focus {
	background-color: #0d4382;
	border-color: #0d4382;
}

.profile-h2 {
	margin-top: 0;
	margin-bottom: 0;
}

/* Me */
.nav-tabs.activity-tab {
	border: none;
}

.nav-tabs > li > a {
	border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
	color: #fff;
	background-color: #0d4382;
}

.nav-tabs > li > a:hover {
	border: none;
	color: #fff;
	background-color: #0d4382;
}

.activity-header {
	margin-top: 0;
	padding: 10px 10px 15px;
	color: #fff;
	background-color: #0d4382;
}

/* Post messages */
.bblinks {
	padding-top: 5px;
	float: right;
}

.bblinks li {
	display: inline;
}

.blockpost .postbody {
	border-left-style: solid;
	border-left-width: 1px;
	float: right;
	margin-right: -218px;
	position: relative;
	text-align: left;
	width: 100%;
}

.blockpost .postleft {
	padding: 7px 12px 7px 18px;
	float: left;
	position: relative;
}

.username {
	margin: 0;
}

.time-nr {
	font-size: 80%;
	color: #aaa;
}

.postedit {
	font-size: 11px;
	color: #bbb;
}

.modcontrols {
	padding-bottom: 8px;
}

.marked .panel-body {
	background-color: #fff1eb;
}

.marked .panel-body hr {
	border-top: 1px solid #ffc8b3;
}

/* Threads */
.comment .avatar {
	max-height: 45px;
	width: auto;
}

.comment h2 {
	margin-top: -6px;
	margin-bottom: 0;
}

.comment hr {
	margin-top: 10px;
	margin-bottom: 5px;
}

.commentfield textarea, .commentfield textarea:focus {
	border: none;
	height: 170px;
}

.commentmax textarea, .commentmax textarea:focus {
	height: 400px;
}

.commentfield input[type="text"], .postfield input[type="text"] {
	border: none;
	border-bottom: #eee solid 1px;
	font-size: 20px;
	line-height: 0.8;
}

input[type="text"].power-control {
	border: none;
    background-color: transparent;
	font-size: 20px;
	line-height: 0.8;
    margin-top: 10px;
}

#commentform > .panel {
	margin-top: 10px;
}

/* Table */
.table > tbody > tr > td.user-data {
	background-color: #f7f7f7;
}

.table > thead > tr.active {
	color: #fff;
	background: #057ed4;
	background: linear-gradient(to right, #057ed4, #10c1f0);
}

.category-header {
	color: #fff;
	background: #0d4382;
	padding: 8px 0;
}

.table > tbody > tr > td {
	color: #232323;
	background-color: #fff;
}

.table thead > tr > .postbreadcrumb, .table tbody > tr > .postbreadcrumb, .table tfoot > tr > .postbreadcrumb, .table thead > tr > td > .postbreadcrumb, .table tbody > tr > td > .postbreadcrumb, .table tfoot > tr > td > .postbreadcrumb {
	padding: 0;
}

.postbreadcrumb .breadcrumb {
	margin: 0;
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
	background: none;
}

/* Buttons */
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
	color: #ffffff;
}

.btn-primary {
	color: #fff;
	background-color: #057ed4;
	border-color: #0071c1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #0071c1;
	color: #fff;
}

.btn-primary:active, .btn-primary.active {
	background-color: #0062a8 9;
}

.btn-post {
	margin-top: 0;
	margin-left: 5px;
	margin-bottom: 10px;
}

.panel-title .btn {
	margin-top: -10px;
	margin-right: -15px;
	padding: 8px 14px 9px 14px;
	border: none;
}

/* Labels */
.label-primary {
	background: #e8e8e8;
	color: #8e8e8e;
}

.label-success {
	background: #95c636;
}

.label-info {
	background: #2ac6e2;
}

.label-warning {
	background: #ffae00;
}

.label-danger {
	background: #ea4322;
}

.fa-asterisk {
	color: #c9c9c9;
	font-size: 80%;
}

/* Alerts */
.alert {
	border: none;
	margin-bottom: 10px;
	background-color: #ffffff;
	border-left: #555 5px solid;
}

.alert-warning {
	border-left: #f79f13 5px solid;
}

.alert-info, #redirect {
	border-left: #2ca0e9 5px solid;
}

.alert-danger {
	border-left: #ff5a00 5px solid;
	color: #d33200;
}

.alert-success {
	border-left: #41d300 5px solid;
	color: #4e9e00;
}

.announcement {
	border: none;
	color: #fff;
	background: rgba(255,255,255,.2);
	margin-top: 30px;
	margin-bottom: 0;
	padding: 5px 8px;
}

/* Forms */
fieldset label {
	display: block;
	padding: 0 0 7px 0;
}

label .help-block {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 85%;
}

textarea {
		resize: vertical;
}

/* Breadcrumbs and button */
.row-nav-fix {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Status Indicators */
.icon {
	border-color: #dcdcdc;
	margin-left: -3px;
	margin-top: 1px;
}

.iredirect .icon {
	border-color: #818181;
	border-width: 4px;
	padding: 4px;
}

.inew .icon {
	border-color: #2ca0e9;
}

/* Search */
.result-card {
	background: #fff;
	padding: 10px;
	margin-top: 10px;
	border: #ddd solid 1px;
}

.result-card h3, .result-card p {
	margin: 0;
}

.result-card .help-block {
	margin-top: 0;
	opacity: .5;
}

.result-card:not(last-child) {
	margin-bottom: 10px;
}

#search .panel-body {
	background-color: #ddd;
}

#search .panel-body * {
	border: none;
}

#search .btn {
	padding: 7px 12px 6px;
}

#search .form-inline .form-control {
	margin-bottom: 5px;
}

/* Userlist */
.userlist {
	padding: 15px;
}

.user-entry {
	background-color: #eee;
	padding: 10px;
}

.user-entry h2 {
	margin-top: 20px;
}

/* Forum */
.topic-entry-list {
	margin-top: 15px;
}

.topic-entry {
	background: #eee;
	padding: 10px;
	margin-bottom: 10px;
}

.topic-entry h3 {
	margin: 0;
}

.posted-item {
	border-right: 10px solid #ddd;
}

/* Titles */
.jumbotron {
	padding: 10px 15px;
	margin-bottom: 0;
}

.jumbotron h2 {
	color: #fff;
	display: inline-block;
	margin-left: 0;
}

.jumbotron .btn {
	border: none;
}

.jumbotron .btn .fa {
	margin: 4px 0;
}

.jumbotron .btn {
	margin-top: 5px;
	margin-bottom: -5px;
}

.jumbotron .input-group-btn .btn {
	margin: 0;
}

.jumbotron form {
	margin-bottom: 0;
	margin-top: 4px;
}

.jumbotron form .form-control {
	border: none;
}

.jumbotron .pagination {
	margin-top: 5px;
}

.jumbotron .pagination > li > a, .jumbotron .pagination > li > span {
	border: none;
	border-left: 1px solid #ddd;
}

.jumbotron .pagination > .active > a, .jumbotron .pagination > .active > span, .jumbotron .pagination > .active > a:hover, .jumbotron .pagination > .active > span:hover, .jumbotron .pagination > .active > a:focus, .jumbotron .pagination > .active > span:focus {
	border: none;
}

.profile-jumbotron  {
	height: 200px;
}

.profile-jumbotron .media {
	display: inline-block;
	margin-top: 76px;
}

.profile-jumbotron .media .media-heading {
	margin-top: 56px;
}

.profile-jumbotron .media h2 {
	font-size: 45px !important;
	margin-bottom: 0;
}

.profile-jumbotron .media h2 small {
	color: rgba(255,255,255,.6);
}

.me-jumbotron  {
	height: 100px;
	margin-bottom: 10px;
}

.me-jumbotron .media {
	display: inline-block;
	margin-top: 5px;
}

.me-jumbotron .avatar {
	height: 70px;
	width: auto;
}

.me-jumbotron .media .media-heading {
	margin-top: 4px;
}

.me-jumbotron .media h2 {
	font-size: 45px !important;
}

/* Debug */
#debug {
	border-style: dotted none none none;
	border-width: 1px 0 0 0;
	margin-top: 7px;
	text-align: center;
}

/* Links */
a {
	color: #428bca;
}

a:hover, a:active {
	color: #2a6496;
}

a.list-group-item:hover, a.list-group-item:active {
	color: #555;
}

/* BBCode */
span.bbu {
	text-decoration: underline;
}

span.bbs {
	text-decoration: line-through;
}

blockquote {
	font-size: 14px;
}

blockquote footer {
	font-size: 16px;
}

/* Update and login form */
.form {
	max-width: 330px;
	margin: 60px auto 20px;
	background-color: #fff;
}

.form-sidebar {
	max-width: 100%;
	margin: 0;
}

.form input[type="text"], .form input[type="password"] {
	font-size: 14px;
	margin-bottom: -1px;
	padding: 7px 9px;
	width: 100%;
}

.form-heading {
	margin-bottom: 0px;
	font-weight: 100;
	background: #057ed4;
	background: linear-gradient(to right, #057ed4, #10c1f0);
	color: #fff;
	padding: 20px;
}

.form-content {
	padding: 15px 18px 10px 20px;
}

.form-sidebar .form-content {
	padding: 0;
	padding-right: 15px;
}

.remember {
	font-weight: 500 !important;
}

.form-text {
	margin: 0;
	padding: 20px;
}

.form .btn-login {
	margin-top: -65px;
	margin-right: 5px;
}

.form .btn-update {
	margin-top: 0 !important;
	border-top: none;
}

.form .actions, .form .remember {
	margin-top: 10px;
}

@media screen and (max-width: 767px) {
	.modcontrols .btn-toolbar .btn-group > :first-child {
		margin-bottom: 10px;
	}
	
	.panel-body {
		border: none;
	}
}

/* Color choise */
.color-accent {
	padding: 21px;
    margin-left: 1px;
    margin-right: 1px;
}

.accent-group .btn-group > :first-child:not(.dropdown-toggle):not(:last-child).btn, .accent-group .btn-group > :last-child:not(:first-child).btn, .btn-group > :not(:first-child).dropdown-toggle {
    border-radius: 0;
}

.accent-group .btn {
    box-shadow: none;
    border: 3px solid #fff;
}

.accent-group .btn:hover, .accent-group .btn:focus, .accent-group .btn:active, .accent-group .active.btn {
    border: 3px solid #bbb;
}

.accent-blue {
    background-color: #33b5e5 !important;
}

.accent-green {
    background-color: #99cc00 !important;
}

.accent-yellow {
    background-color: #ffcd21 !important;
}

.accent-red {
    background-color: #ff4444 !important;
}

.accent-purple {
    background-color: #c58be2 !important;
}

.accent-luna {
	background-color: #0d4382 !important;
}

.accent-grey {
	background-color: #ccc !important;
}

/* Cookie bar */
.cookie-bar {
	background: #393939;
}

.cookie-bar .navbar-form {
	border-top: none;
	border-bottom: none;
}

@media screen and (max-width: 767px) {
	.cookie-bar .navbar-text {
		margin-left: 15px;
		margin-right: 15px;
	}

	.cookie-bar .navbar-form {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 15px;
	}
}