/* Accent 2 - Blue */
.navbar-inverse,
.footer,
.alert-all,
.modal-form .modal-header,
.modal-form .modal-footer,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.btn-primary,
.modal-backdrop,
.enforce {
	background-color: #2788cb;
}

.navbar-secondary,
.first-run-profile,
.footer .copyright,
.panel-default .panel-heading,
.thread-jumbotron,
.jumbotron,
.user-card-profile,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
[disabled].btn-primary,
.category-header {
	background-color: #1a79bc;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.navbar-default,
.new-item .label-default,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.list-group-forum .list-group-item.active.new-item {
	background-color: #136cab;
}

.list-group-forum a.list-group-item:hover,
.list-group-thread .list-group-item:hover {
	border-color: #2788cb;
}

.btn-primary {
	border-color: #1a79bc;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
[disabled].btn-primary,
.category-header,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.list-group-forum .list-group-item.active.new-item {
	border-color: #136cab;
}

a.list-group-item:hover,
a:focus,
.pagination > li > a,
.pagination > li > span {
	color: #1a79bc;
}

a:hover,
a:active {
	color: #136cab;
}