.bspink {
    background-color :#dc4fad !important;
}

.bscrimson {
    background-color :#ac193d !important;
}

.bsorange {
    background-color :#d24726 !important;
}

.bsamber {
    background-color :#ff8f32 !important;
}

.bslime {
    background-color :#82ba00 !important;
}

.bsgreen {
    background-color :#008a17 !important;
}

.bsteal {
    background-color :#03b3b2 !important;
}

.bsdarkteal {
	background-color: #008299 !important;
}

.bsmbbblue {
	background-color: #14a3ff !important;
}

.bsblue {
	background-color: #0072c6 !important;
}

.bsindigo {
	background-color: #4617b4 !important;
}

.bsviolet {
	background-color: #8c0095 !important;
}