.bspink {
    background-color: #e861aa !important;
}

.bsmagenta {
    background-color: #d80073 !important;
}

.bscrimson {
    background-color: #ac193d !important;
}

.bsred {
    background-color: #e51400 !important;
}

.bsorange {
    background-color: #fa6800 !important;
}

.bsamber {
    background-color: #f0a30a !important;
}

.bsshadeyellow {
    background-color: #e3c800 !important;
}

.bsyellow {
    background-color: #ffe200 !important;
}

.bslime {
    background-color: #98ca00 !important;
}

.bsgreen {
    background-color: #60a917 !important;
}

.bsdarkgreen {
    background-color: #008a17 !important;
}

.bsdarkteal {
	background-color: #008299 !important;
}

.bsteal {
    background-color: #03b3b2 !important;
}

.bsbabyblue {
    background-color: #5db2ff !important;
}

.bsmbbblue {
	background-color: #14a3ff !important;
}

.bsblue {
	background-color: #0072c6 !important;
}

.bsdarkblue {
    background-color: #004b8b !important;
}

.bsindigo {
	background-color: #4617b4 !important;
}

.bsviolet {
	background-color: #8c0095 !important;
}

.bslightviolet {
	background-color: #c960d0 !important;
}

.bslightgrey {
	background-color: #aaa !important;
}

.bsgrey {
	background-color: #777 !important;
}

.bsdarkgrey {
	background-color: #444 !important;
}

.bsblack {
	background-color: #111 !important;
}