
@each $accent in $accents {
    $i: index($accents, $accent);
    .accent-#{$i} {
        .navbar {
            &.bg-primary {
                background-color: $accent !important;
            }

            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        &.dropdown {
                            &.show {
                                background-color: darken($accent, 5%);

                                .dropdown-menu {
                                    background-color: darken($accent, 5%);

                                    .dropdown-item {
                                        &:hover,
                                        &:active,
                                        &:focus {
                                            background-color: darken($accent, 10%);
                                        }
                                    }

                                    .dropdown-divider {
                                        border-top-color: darken($accent, 14%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn {
            &.btn-primary {
                background-color: $accent;

                &:hover,
                &:active,
                &:focus,
                &.active:focus,
                &:focus:active {
                    background-color: darken( $accent, 5% );
                }
            }
            
            &.btn-link {
                color: $accent;

                &:hover,
                &:focus,
                &:active {
                    color: darken( $accent, 5% );
                }
            }
        }

        .card {
            &.bg-primary {
                background-color: $accent !important;

                .card-header {
                    background-color: darken( $accent, 5% );
                }
            }
        }

        .jumbotron {
            &.navigon {
                &.primary {
                    background-color: $accent;
                }

                &.secondary {
                    .nav {
                        .nav-item {
                            &.active {
                                border-bottom-color: $accent;
                            }

                            &:hover,
                            &:focus,
                            &:active {
                                border-bottom-color: $accent;
                            }
                        }
                    }
                }
            }
        }

        a {
            color: $accent;

            &:active,
            &:hover,
            &:focus {
                color: darken( $accent, 5% );
            }
        }

        footer {
            background: $accent;

            a {
                &:hover {
                    color: lighten( $accent, 20% );
                }
            }
        }

        .custom-checkbox {
            :checked {
                &.custom-control-input ~ .custom-control-label::before {
                    background: $accent;
                }
            }
        }

        .custom-radio {
            :checked {
                &.custom-control-input ~ .custom-control-label::before {
                    background: $accent;
                }
            }
        }

        .title {
            .input-group-text {
                background: lighten( $accent, 10% );
            }

            .title-lg {
                background-color: $accent;
            }

            .title-md {
                background-color: lighten( $accent, 5% );
            }
        }
    }
}