.alert {
    border: none;
    border-radius: 0;
    margin-bottom: .75rem;

    &.alert-info {
        color: darken( $accent, 10% );
        background-color: lighten( $accent, 50% );
    }

    &.alert-danger {
        color: darken( $red, 10% );
        background-color: lighten( $red, 42% );
    }
}