.btn {
    border-radius: 0;
    border: transparent;

    &.btn-primary {
        &:hover,
        &:active,
        &:focus,
        &.active:focus,
        &:focus:active {
            box-shadow: none;
        }
    }
}