.btn {
    border-radius: 0;
    border: transparent;

    &.btn-primary {
        &:hover,
        &:active,
        &:focus,
        &.active:focus,
        &:focus:active {
            box-shadow: none;
        }
    }

    &.btn-link {
        &.btn-link-danger {
            color: $red;

            &:hover,
            &:focus,
            &:active {
                color: darken( $red, 5% );
            }
        }
    }

    &.btn-danger {
        color: #fff;
        background-color: $red;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: darken( $red, 5% );
        }
    }
}

.btn-toolbar {
    padding-bottom: .75rem;
}