.btn {
    border-radius: 0;
    border: transparent;

    &.btn-primary {
        &:hover,
        &:active,
        &:focus,
        &.active:focus,
        &:focus:active {
            box-shadow: none;
        }
    }

    &.btn-link {
        &.btn-link-danger {
            color: $red !important;

            &:hover,
            &:focus,
            &:active {
                color: darken( $red, 5% ) !important;
            }
        }
    }

    &.btn-danger {
        color: #fff;
        background-color: $red;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: darken( $red, 5% );
        }
    }

    &.color-accent {
        padding: 1.1rem;
        border: .2rem solid #fff;
        margin: 0;

        &.active,
        &:hover,
        &:active,
        &:focus {
            border-color: #ccc;
            z-index: 1000;
        }
    }
}

.btn-toolbar {
    padding-bottom: .75rem;
}