.card {
    border-radius: 0;
    margin-bottom: .75rem;

    &.card-board {
        &.card-sub {
            margin-left: 1.5rem;
        }

        .card-header {
            a {
                color: #fff;
            }
        }
    }

    &.bg-primary {
        border: none;

        .card-header {
            border: none;
            
            .float-right {
                .btn {
                    color: #fff;

                    &:hover,
                    &:active,
                    &:focus {
                        color: #fff;
                    }
                }
            }
        }

        .card-body {
            padding: 1rem;
        }
    }

    .card-header {
        font-weight: 600;
        padding: .75rem;
        line-height: 1;
        border: none;

        &h5 {
            font-size: 1.25rem;
        }

        &.card-nav {
            padding-bottom: 0;

            .card-header-tabs {
                margin-left: 0;
                margin-right: 0;

                .nav-link {
                    border-radius: 0;
                    border: none;
                    padding: .75rem;

                    &:hover,
                    &:active,
                    &:focus {
                        border: none;
                    }
                }
            }
        }
            
        .float-right {
            .btn {
                margin: -1rem -.5rem -.6rem 0;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .card-body {
        padding: .75rem;

        :last-child {
            margin-bottom: 0;
        }
    }

    .card-footer {
        padding: .75rem;
    }

    .alert {
        margin-bottom: 0;
    }

    .table {
        thead {
            tr {
                th {
                    border-top: none;
                }
            }
        }
    }

    :last-child {
        margin-bottom: 0;
    }
}