.container {
    padding: 0;
    max-width: 1500px;

    &.main {
        background-color: #fff;
        padding: .75rem .25rem;
    }

    @media (max-width: 576px) {
        max-width: 100%;
    }

    @media (max-width: 768px) {
        max-width: 100%;
    }

    @media (max-width: 992px) {
        max-width: 100%;
    }

    @media (max-width: 1200px) {
        max-width: 100%;
    }
}