.row-extension {
    background-color: #fff;
    padding: 7px;
    margin: 0;

    &:nth-child(odd) {
        background-color: #f8f8f8;
    }

    .name {
        font-size: 23px;
        font-weight: 700;
        margin: 0;
        line-height: 1;
    }

    .version {
        margin: 0;
    }

    .actions {
        margin: 7px 0 0 0;

        .active {
            font-weight: 700;
        }
    }

    .description {
        margin: 0;
        padding-bottom: 10px;
    }

    .meta {
        color: #777;
        margin: 0;
    }
}