/* Essential structure */
html, body {
	background: #e5e5e5;
	font-family: Segoe UI;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Segoe UI Light;
}

h2 {
	margin-top: 0;
}

h4 {
	margin-bottom: 3px;
	color: #1f99e6;
}

h4:first-child {
	margin-top: 0;
}

.container {
	margin: 65px auto 0;
}

p {
	margin: 0 0 3px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding-right: 5px;
	padding-left: 5px;
}

/* Navbar */
.nav-inner {
	max-width: 1160px;
	margin: 0 auto;
}

@media(min-width:767px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu{
		display: block;    
	}
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background: #47a9f5;
	background: linear-gradient(to bottom,  #47a9f5 0%,#2690e1 100%);
	background-repeat: repeat-x;
	filter: none;
	color: #fff;
}

.navbar {
	border-bottom: 5px solid #006dc2;
	background: #333;
	background: linear-gradient(to bottom,  #444, #333);
	background-repeat: repeat-x;
}

.navbar-brand {
	background: #0072ca;
	background-image: linear-gradient(to bottom, #0072ca, #006dc1);
	background-repeat: repeat-x;
	color: #fff;
	margin-right: 0;
	text-transform: lowercase;
	padding-left: 12px;
	padding-right: 12px;
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
	color: #fff;
}

.navbar-right {
	padding-right: -20px;
}

.nav > li {
	margin-left: 0;
}

.nav > li > a {
	color: #fff;
}

.navbar-nav > .dropdown > a .caret, .navbar-nav > .dropdown > a:hover .caret, .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

@media (max-width:768px){
	.dropdown-menu > li > a, .dropdown-menu > li > a:focus {
		color: #fff;
	}
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	color: #fff;
	background: #2690e1;
	background: linear-gradient(to bottom, #47a9f5, #2690e1);
	background-repeat: repeat-x;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	color: #fff;
	background: #2690e1;
	background-image: linear-gradient(to bottom, #2690e1, #0b7bd2);
	background-repeat: repeat-x;
}

.nav .navbar-nav .pull-right {
	padding-right: -10px;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 0;
	margin-top: 13px;
	margin-right: 15px;
	margin-bottom: 5px;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 24px;
	height: 3px;
	border-radius: 1px;
	background-color: #fff;
}

/* Pagination */
.pagination {
	margin: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border: 1px solid #269feb;
	background-color: #269feb;
}

/* Input and forms */
.full-form {
	width: 100%;
}

.help-block {
	margin-bottom: 0;
	margin-top: 0;
	display: block;
}

/* Buttons */
.btn:active, .btn.active {
	background: none;
}

.btn-default {
	text-shadow: 0 1px 0 #fff;
	background-image: linear-gradient(to bottom,#fff 0%,#e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #ccc;
}

.btn-default:hover, .btn-default:focus {
	background-color: #e0e0e0;
	background-position: 0 -15px;
}

.btn-default:active, .btn-default.active {
	background: #e0e0e0;
	border-color: #dbdbdb;
}

.btn-primary {
	background-image: linear-gradient(to bottom,#428bca 0%,#2d6ca2 100%);
	background-repeat: repeat-x;
	border-color: #2b669a;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #2d6ca2;
	background-position: 0 -15px;
}

.btn-primary:active, .btn-primary.active {
	background: #2d6ca2;
	border-color: #2b669a;
}

.btn-success {
	background-image: linear-gradient(to bottom,#5cb85c 0%,#419641 100%);
	background-repeat: repeat-x;
	border-color: #3e8f3e;
}

.btn-success:hover, .btn-success:focus {
	background-color: #419641;
	background-position: 0 -15px;
}

.btn-success:active, .btn-success.active {
	background: #419641;
	border-color: #3e8f3e;
}

.btn-warning {
	background-image: linear-gradient(to bottom,#f0ad4e 0%,#eb9316 100%);
	background-repeat: repeat-x;
	border-color: #e38d13;
}

.btn-warning:hover, .btn-warning:focus {
	background-color: #eb9316;
	background-position: 0 -15px;
}

.btn-warning:active, .btn-warning.active {
	background: #eb9316;
	border-color: #e38d13;
}

.btn-danger {
	background-image: linear-gradient(to bottom,#d9534f 0%,#c12e2a 100%);
	background-repeat: repeat-x;
	border-color: #b92c28;
}

.btn-danger:hover, .btn-danger:focus {
	background-color: #c12e2a;
	background-position: 0 -15px;
}

.btn-danger:active, .btn-danger.active {
	background: #c12e2a;
	border-color: #b92c28;
}

.btn-info {
	background-image: linear-gradient(to bottom,#5bc0de 0%,#2aabd2 100%);
	background-repeat: repeat-x;
	border-color: #28a4c9;
}

.btn-info:hover, .btn-info:focus {
	background-color: #2aabd2;
	background-position: 0 -15px;
}

.btn-info:active, .btn-info.active {
	background: #2aabd2;
	border-color: #28a4c9;
}

.panel-title .btn {
	margin-top: -10px;
	margin-right: -15px;
	padding: 8px 14px 9px 14px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
	border-left: #155ac9;
}

.panel .table {
	margin-bottom: 5px;
}

.panel .table:last-child {
	margin-bottom: 0;
}

/* Panels */
.panel {
	margin-bottom: 10px;
}

.panel-heading {
	height: 38px;
}

.panel-default .panel-heading {
	background: #0b8ada;
	background-image: linear-gradient(#444, #333);
	background-repeat: repeat-x;
	color: #fff;
}

.panel-warning .panel-heading {
	background: #ff9c00;
	color: #fff;
}

.panel-body {
	padding: 10px;
}

/* Alerts and redirects */
.alert, #redirect {
	border: none;
	margin: 0 5px 10px 5px;
	background-color: #fff;
	border-left: #555 5px solid;
}

.alert-warning {
	border-left: #f79f13 5px solid;
}	

.alert-info, #redirect {
	border-left: #2ca0e9 5px solid;
}

.alert-danger {
	border-left: #ff5a00 5px solid;
	color: #d33200;
}

.alert-success {
	border-left: #41d300 5px solid;
	color: #4e9e00;
}

#redirect {
	margin: 60px auto 0;
	width: 800px;
	padding: 10px 5px 5px 15px;
}

/* Footer */
footer {
	padding-bottom: 20px;
}

/* Tables */
.table {
	margin-top: -5px;
	margin-bottom: -5px;
}

/* Forms */
.form-control {
	width: auto;
	display: inline;
}

/* Breadcrumb */
.breadcrumb {
	margin-bottom: 5px;
	color: #a8a8a8;
	padding: 7px 15px;
}

/* Update and login form */
.form {
	max-width: 330px;
	padding: 20px 30px 9px 30px;
	margin: 60px auto 20px;
	background-color: #fff;
	border: #ddd 1px solid;
}

.form .form-heading, .form .checkbox {
	margin-bottom: 10px;
}

.form input[type="text"], .form input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: -1px;
	padding: 7px 9px;
}

.form-heading {
	color: #2ca0e9;
	margin-top: 0;
	font-weight: 100;
}

.remember label {
	font-weight: 100 !important;
}

.form .btn {
	margin-top: -65px;
	margin-right: 5px;
}

.form .btn-update {
	margin-top: 0 !important;
	margin-bottom: 20px;
}

.db-password {
	width: 100%;
}

.form .actions, .form .remember {
	margin-top: 10px;
}