/* Essential structure */
html, body {
	font-family: Segoe UI;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI Light", "Segoe UI", Arial;
	font-weight: 100;
}

h2 {
	margin-top: 0;
	margin-left: 4px;
}

h3 {
	margin-top: 0;
}

h4 {
	margin-bottom: 3px;
}

h4:first-child {
	margin-top: 0;
}

.container {
	margin: 65px auto 0;
}

p {
	margin: 0 0 3px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding-right: 5px;
	padding-left: 5px;
}

.form-group .col-xs-1, .form-group .col-xs-2, .form-group .col-xs-3, .form-group .col-xs-4, .form-group .col-xs-5, .form-group .col-xs-6, .form-group .col-xs-7, .form-group .col-xs-8, .form-group .col-xs-9, .form-group .col-xs-10, .form-group .col-xs-11, .form-group .col-xs-12, .form-group .col-md-1, .form-group .col-md-2, .form-group .col-md-3, .form-group .col-md-4, .form-group .col-md-5, .form-group .col-md-6, .form-group .col-md-7, .form-group .col-md-8, .form-group .col-md-9, .form-group .col-md-10, .form-group .col-md-11, .form-group .col-md-12, .form-group .col-sm-1, .form-group .col-sm-2, .form-group .col-sm-3, .form-group .col-sm-4, .form-group .col-sm-5, .form-group .col-sm-6, .form-group .col-sm-7, .form-group .col-sm-8, .form-group .col-sm-9, .form-group .col-sm-10, .form-group .col-sm-11, .form-group .col-sm-12, .form-group .col-lg-1, .form-group .col-lg-2, .form-group .col-lg-3, .form-group .col-lg-4, .form-group .col-lg-5, .form-group .col-lg-6, .form-group .col-lg-7, .form-group .col-lg-8, .form-group .col-lg-9, .form-group .col-lg-10, .form-group .col-lg-11, .form-group .col-lg-12 {
	padding-right: 15px;
	padding-left: 15px;
}

/* Navbar */
.nav-inner {
	max-width: 1160px;
	margin: 0 auto;
}

@media(min-width:767px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu{
		display: block;    
	}
}

.navbar-brand {
	margin-right: 0;
	text-transform: lowercase;
	padding-left: 12px;
	padding-right: 12px;
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
}

.navbar-right {
	padding-right: -20px;
}

.nav > li {
	margin-left: 0;
}

.nav .navbar-nav .pull-right {
	padding-right: -10px;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 0;
	margin-top: 13px;
	margin-right: 15px;
	margin-bottom: 5px;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 24px;
	height: 3px;
	border-radius: 1px;
}

.usermenu {
	margin-right: 15px;
}

/* Pagination */
.pagination {
	margin: 0;
	float: right;
}

/* Rows en cols */
.row > .row {
	margin-left: -5px;
	margin-right: -5px;
}

/* Input and forms */
.help-block {
	margin-bottom: 0;
	margin-top: 0;
	display: block;
}

/* Buttons */
.btn-update {
	margin-right: 6px;
}

.panel-title .btn {
	margin-top: -10px;
	margin-right: -15px;
	padding: 8px 14px 9px 14px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
}

/* Input */
.input-group .form-control, .input-group {
	width: auto;
}

.input-group-addon, .input-group-btn {
	width: 0;
}

/* Tables */
.table-forums {
	margin-top: -1px !important;
}

.panel .table {
	margin-bottom: 5px;
}

.panel .table:last-child {
	margin-bottom: 0;
}

/* Panels */
.panel {
	margin-bottom: 10px;
}

.panel-heading {
	height: 38px;
}

.panel-body {
	padding: 10px;
}

/* Alerts and redirects */
.alert, #redirect {
	border: none;
	margin: 0 5px 10px 5px;
}
.alert-danger {
	margin: 0 0 10px 0;
}

#redirect {
	margin: 60px auto 0;
	width: 800px;
	padding: 10px 5px 5px 15px;
}

/* Footer */
footer {
	padding-bottom: 20px;
}

/* Tables */
.table {
	margin-top: -5px;
	margin-bottom: -5px;
}

/* Breadcrumb */
.breadcrumb {
	margin-bottom: 5px;
	padding: 7px 15px;
}