/*
 * Copyright ModernBB Group
 * Bootstrap Template: Aurore
 * Version:            5.0
 * Based on:           Trent v1.1 (http://studio384.be/trent.php)
 * Since:              3.3
 */

/* General fixes */
body {
	margin-top: 40px;
}

/* Text */
h1, h2, h3, h4, h5, h6, .btn, .navbar {
	font-family: "Segoe UI Semilight", "Segoe UI";
	font-weight: 300;
}

.navbar {
	letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Segoe UI Light", "Segoe UI Semilight", "Segoe UI";
	color: #14a3ff;
}

/* Navbar */
.navbar {
	background: #14a3ff;
	border: none;	
}

.navbar .glyphicon {
	font-size: 16px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-brand {
	background: none;
	font-size: 20px;
	text-transform: lowercase;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #fff;
	background: #14a3ff;
}

.navbar-default .navbar-collapse {
	border: none;
	box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
	color: rgba(255,255,255,0.50);
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #14a3ff;
}

/* Panels */
.panel-default .panel-heading {
	color: #fff;
	background: #14a3ff;
}

.panel-heading {
	height: 38px;
}

.panel-heading, .panel {
	border: none;
}

.panel-body, .panel-footer, .panel .table {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-top: none;
}

.panel > :last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* Buttons */
.panel-title .btn {
	margin-top: -10px;
	margin-right: -15px;
	padding: 9px 14px 9px 14px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
}

.btn-primary {
	background-color: #0072dc;
	border-color: #005aad;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
	background-color: #005aad;
	border-color: #004688;
}

.btn-success {
	background-color: #76b900;
	border-color: #66a100;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .active.btn-success, .open .btn-success.dropdown-toggle {
	background-color: #66a100;
	border-color: #588a00;
}

.btn-warning {
	background-color: #ffc000;
	border-color: #ffa800;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .active.btn-warning, .open .btn-warning.dropdown-toggle {
	background-color: #ffa800;
	border-color: #ff8400;
}

.btn-danger {
	background-color: #ff5400;
	border-color: #df4900;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .active.btn-danger, .open .btn-danger.dropdown-toggle {
	background-color: #df4900;
	border-color: #c14000;
}

.btn-info {
	background-color: #14a3ff;
	border-color: #008be4;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .active.btn-info, .open .btn-info.dropdown-toggle {
	background-color: #008be4;
	border-color: #007dce;
}

/* Styles page */
@media all and (min-width:1200px) {
	.modal-lg {
		width: 1200px;
	}
}

.style-entry {
	margin-bottom: -15px;
}

.thumbnail {
	margin-bottom: 0;
}

.panel-style .thumbnail {
	border: none;
	padding: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.panel-style .thumbnail img {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.panel-style .panel-footer {
	border: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.panel-style {
	border: 1px #c4c4c4 solid;
	border-radius: 8px;
}

/* Pills */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #0072dc;
}

/* Label */
.label {
    letter-spacing: 0.6px;
    padding: .4em .6em .3em;
}

.label-default {
	background-color: #ddd;
	color: #6e6e6e;
}

.label-primary {
	background-color: #0072dc;
}

.label-success {
	background-color: #76b900;
}

.label-warning {
	background-color: #ffc000;
}

.label-danger {
	background-color: #ff5400;
}

.label-info {
	background-color: #14a3ff;
}

/* Alerts */
.alert-success {
	background: #e5ffb8;
	border-color: #76b900;
	color: #659e00;
}

.alert-success .alert-link {
	color: #4a7400;
}

.alert-info {
	background: #daf0ff;
	border-color: #14a3ff;
	color: #0085da;
}

.alert-info .alert-link {
	color: #006fb7;
}

.alert-warning {
	background: #fff6d9;
	border-color: #ffc000;
	color: #dba500;
}

.alert-warning .alert-link {
	color: #c79600;
}

.alert-danger {
	background: #ffe3d5;
	border-color: #ff5400;
	color: #d34600;
}

.alert-danger .alert-link {
	color: #a93800;
}

/* Progress bar */
.progress {
	box-shadow: none;
}

.progress-bar {
	background-color: #0072dc;
	box-shadow: none;
}

.progress-bar-success {
	background-color: #76b900;
}

.progress-bar-warning {
	background-color: #ffc000;
}

.progress-bar-danger {
	background-color: #ff5400;
}

.progress-bar-info {
	background-color: #14a3ff;
}