/*
 * Copyright Studio 384 and Luna Group
 * Bootstrap Template: 	Trent
 * Version:				1.0
 * Based on:			Trent v1.3 (http://studio384.be/trent.php)
 * Since:				0.0.40.2900
 * Bootstrap:			3.3.5
 */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
 
/* General fixes */
* {
	border-radius: 0 !important;
	box-shadow: none !important;
}

html {
    overflow-y: scroll;
}

body {
	margin-top: 50px;
	font-family: "Segoe UI", "Open Sans", Helvetica, Arial, sans-serif;
	background-color: #444;
}

td, th {
	vertical-align: middle !important;
}

/* Text */
h1, h2, h3, h4, h5, h6, .btn, .navbar {
	font-family: "Segoe UI Semilight", "Segoe UI", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.navbar {
	letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Segoe UI Light", "Segoe UI Semilight", "Segoe UI", "Open Sans", Helvetica, Arial, sans-serif;
}

h3 {
	margin-top: 0;
}

.modal h2 {
	margin-top: 0;
}

.alert h4 {
	margin-bottom: 0;
}

.panel-footer p {
	margin: 0;
}

label .help-block {
	font-weight: 400;
	letter-spacing: 0.5px;
	font-size: 85%;
}

.panel-about #brand h3 {
	margin-top: 0;
}

.panel-about h3 {
	font-size: 32px !important;
	margin-top: 15px;
}

.panel-about h4 {
	font-size: 24px !important;
	margin-bottom: 3px;
	color: #1f62b0;
}

.panel-about p {
	line-height: 1.8;
}

.change-list {
	line-height: 1.8;
}

.panel-footer > .checkbox {
	margin-bottom: 0;
}

.panel-heading a {
	color: rgba(255,255,255,.7);
}

.panel-heading a.btn {
	color: rgba(255,255,255,1);
}

.panel-heading a:hover {
	color: #fff;
}

.background-title {
	color: #fff;
}

/* Navbars */
.navbar-default {
	background: #1f62b0;
	border-bottom: none;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2) !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: transparent;
	text-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
}

@media all and (max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
		background-color: rgba(255,255,255,.2);
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
}

.dropdown-menu {
	border-width: 0 1px 1px;
	padding: 0;
}

.dropdown-menu .divider {
	margin: 0;
}

.dropdown-menu > li > a, .dropdown-header {
	padding: 9px 20px;
}

.avatar {
	padding: 0;
	border: 0;
	margin: 0;
	width: 40px;
	height: 40px;
	display: inline;
}

.navbar .dropdown-user {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

/* Heading - jumbotron and navtabs */
.jumboheader {
	color: #fff;
	background: #1f62b0;
	padding-top: 0;
	padding-bottom: 1px;
	margin-bottom: 17px;
}

.jumboheader .row {
	margin-right: 0;
	margin-left: 0;
}

@media all and (max-width:767px) {
	.container:not(.navbar-container) {
		padding-right: 0;
		padding-left: 0;
	}
}

@media all and (max-width:767px) {
	.jumboheader {
		margin-bottom: 0;
	}
}

.jumboheader h2 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "Segoe UI Light", "Open Sans";
}

.nav-tabs > li > a {
	color: #fff;
}

.nav-tabs {
	border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #444;
	border-color: #444;
}

.nav-tabs > li > a:hover, .nav > li > a:hover, .nav > li > a:focus {
	border-color: #555;
	background-color: #555;
}

@media all and (max-width:767px) {
	.jumbotron {
		padding-left: 0;
		padding-right: 0;
	}

	.nav-tabs {
		padding-top: 10px;
	}

	.nav-tabs > li > a {
		margin-right: 0;
	}
}

/* Panels */
.panel-heading {
	height: 38px;
}

h3.panel-title {
	font-size: 130%;
	margin-top: -2px;
}

.panel-body, .panel .table {
	border-top: none;
}

.panel-footer {
	border-top-color: #e8e8e8;
}

.panel {
	border: none;
}

.panel-default .panel-heading {
	color: #fff;
	background-color: #1f62b0;
	border-bottom-color: #1f62b0;
}

.panel .table {
	margin-bottom: 0;
}

.panel-primary {
	border-color: #ed6bcd;
}

.panel-primary > .panel-heading {
	background-color: #0d4382;
	border-color: #0d4382;
	color: #fff;
}

.panel-success {
	border-color: #5ea707;
}

.panel-success > .panel-heading {
	background-color: #78bb28;
	border-color: #78bb28;
	color: #fff;
}

.panel-info {
	border-color: #0065ac;
}

.panel-info > .panel-heading {
	background-color: #007ed6;
	border-color: #007ed6;
	color: #fff;
}

.panel-warning {
	border-color: #f1a400;
}

.panel-warning > .panel-heading {
	background-color: #ffc600;
	border-color: #ffc600;
	color: #fff;
}

.panel-danger {
	border-color: #d23100;
}

.panel-danger > .panel-heading {
	background-color: #f65625;
	border-color: #f65625;
	color: #fff;
}

.panel-body .form-group:last-child, .panel-body p:last-child {
	margin-bottom: 0;
}

@media all and (min-width:768px) {
	.panel, .alert {
		margin-top: 11px;
	}
}

@media all and (max-width:767px) {
	.panel, .alert {
		margin-bottom: 0;
	}
}

/* Forms */
.form-control {
	border-color: #e0e0e0;
	background-color: #fafafa;
}

.form-control:focus {
	border-color: #2fbef1;
}

[disabled].form-control, [readonly].form-control, fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #ddd;
	border-color: #ffbc89;
	opacity: 1;
}

.input-group-addon {
	border-color: #333;
	background-color: #555;
	color: #fff;
}

/* Buttons */
.panel-title .btn {
	margin-top: -8px;
	margin-right: -15px;
	padding: 9px 14px 9px 14px;
	border: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
	background: #1f62b0;
}

.btn-success {
	background-color: #76b900;
	border-color: #66a100;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .active.btn-success, .open .btn-success.dropdown-toggle {
	background-color: #66a100;
	border-color: #588a00;
}

.btn-warning {
	background-color: #ffc000;
	border-color: #ffa800;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .active.btn-warning, .open .btn-warning.dropdown-toggle {
	background-color: #ffa800;
	border-color: #ff8400;
}

.btn-danger {
	background-color: #ff5400;
	border-color: #df4900;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .active.btn-danger, .open .btn-danger.dropdown-toggle {
	background-color: #df4900;
	border-color: #c14000;
}

.btn-info {
	background-color: #14a3ff;
	border-color: #008be4;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .active.btn-info, .open .btn-info.dropdown-toggle {
	background-color: #008be4;
	border-color: #007dce;
}

/* Styles page */
@media all and (min-width:1200px) {
	.modal-lg {
		width: 1200px;
	}
}

.style-entry {
	margin-bottom: -15px;
}

.thumbnail {
	margin-bottom: 0;
}

.panel-style .thumbnail {
	border: none;
	padding: 0;
}

.panel-style .panel-footer {
	border: none;
}

.panel-style {
	border: 1px #dfdfdf solid;
	margin-top: 20px;
}

.panel-current .thumbnail {
	border: none;
	padding: 0;
}

/* Form groups */ 
.form-group:last-child { 
	margin-bottom: 0; 
} 

/* Pills */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #0072dc;
}

/* Label */
.label {
	letter-spacing: 0.6px;
	padding: .4em .6em .3em;
}

.label-default {
	background-color: #ddd;
	color: #6e6e6e;
}

.label-primary {
	background-color: #0072dc;
}

.label-success {
	background-color: #76b900;
}

.label-warning {
	background-color: #ffc000;
}

.label-danger {
	background-color: #ff5400;
}

.label-info {
	background-color: #14a3ff;
}

.label-kaput {
	background-color: #111;
}

/* Pagination */
.pagination {
	margin: 0;
	margin-left: 10px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background: #1f62b0;
	border-color: #1f62b0;
}

/* Alerts */
.alert {
	border: none;
}

.alert-success {
	background: #e5ffb8;
	border-color: #d1fd88;
	color: #659e00;
}

.alert-success .alert-link {
	color: #4a7400;
}

.alert-info {
	background: #daf0ff;
	border-color: #c1e8ff;
	color: #0085da;
}

.alert-info .alert-link {
	color: #006fb7;
}

.alert-warning {
	background: #fff6d9;
	border-color: #f8e8ae;
	color: #e2ab00;
}

.alert-warning .alert-link {
	color: #c79600;
}

.alert-danger {
	background: #ffe3d5;
	border-color: #fdc4ab;
	color: #d34600;
}

.alert-danger .alert-link {
	color: #a93800;
}

/* Progress bar */
.progress-bar {
	background-color: #0072dc;
}

.progress-bar-success {
	background-color: #76b900;
}

.progress-bar-warning {
	background-color: #ffc000;
}

.progress-bar-danger {
	background-color: #ff5400;
}

.progress-bar-info {
	background-color: #14a3ff;
}

/* Moderate */
.jumbotron-moderate-forum {
	padding: 5px 15px 15px 15px !important;
	margin-bottom: 0;
}

.list-group-topic {
	margin-bottom: 0;
}

.list-group-topic .list-group-item {
	border: none;
	border-left: 5px solid #f8f8f8;
	background-color: #fbfbfb;
	margin-top: 2px;
}

.list-group-topic .list-group-item.new-item {
	border-left: 5px solid #e3e3e3;
	background-color: #f3f3f3;
}

.list-group-topic .list-group-item:hover {
	border-left-color: #e8e8e8;
	background-color: #f8f8f8;
}

.inline-block {
	display: inline-block;
}

.moderate-pagination {
	margin-top: 20px !important;
}

/* Color choise */
.color-accent {
	padding: 21px;
	margin-left: 1px;
	margin-right: 1px;
}

.accent-group .btn {
	border: 3px solid #fff;
}

.accent-group .btn:hover, .accent-group .btn:focus, .accent-group .btn:active, .accent-group .active.btn {
	border: 3px solid #bbb;
}

.accent-1 {
	background-color: #14a3ff !important;
}

.accent-2 {
	background-color: #2788cb !important;
}

.accent-3 {
	background-color: #0d4382 !important;
}

.accent-4 {
	background-color: #c58be2 !important;
}

.accent-5 {
	background-color: #99cc00 !important;
}

.accent-6 {
	background-color: #047a36 !important;
}

.accent-7 {
	background-color: #ffcd21 !important;
}

.accent-8 {
	background-color: #ff7521 !important;
}

.accent-9 {
	background-color: #ff4444 !important;
}

.accent-10 {
	background-color: #ccc !important;
}

.accent-11 {
	background-color: #999 !important;
}

.accent-12 {
	background-color: #444 !important;
}

/* Forms */
.well {
	background-color: #fff !important;
	border: none !important;
	padding: 0;
}

.well.form-box {
	width: 300px;
	margin: 0 auto;
}

.well .alert-danger {
	margin: -10px 0 0 0;
}

.well form {
	margin: 15px;
	padding-bottom: 15px;
}

.well.form-box label {
	font-weight: 500;
}

.well .form-title {
	padding: 25px 15px;
	font-size: 30px;
	background-color: #1f62b0;
	color: #fff;
}

.well.form-box input[type="text"] {
	box-shadow: none;
	border-color: #ddd;
}

/* Color picker */
.color-picker {
	font-family: Helvetica, Arial, Sans-Serif;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	user-select: none;
}

.color-picker .rcp-caption {
	float: left;
	padding-right: 10px;
}

.color-picker .rcp-color {
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	background-color: white;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
}

.color-popup {
	float: left;
	clear: both;
	position: absolute;
	z-index: 1000;
	background-color: white;
	padding: 0 9px 9px 0;
	display: inline-block;
	max-width: 266px !important;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border-radius: 5px;
}

.color-popup .rcp-bottom {
	margin-top: 9px;
	margin-right: -9px;
	padding-top: 6px;
	text-align: center;
	border-top: 1px solid #cccccc;
	margin-bottom: -4px;
}

.color-popup .rcp-bottom input[type='text'] {
	display: inline-block;
	font-size: 14px;
	border: 1px solid #ccc;
	padding: 3px 6px;
	width: 130px;
}

.color-popup .rcp-bottom input[type='text'].rcp-error {
	border-color: #DA3030;
	background: #FFC8C8 none;
}

.color-popup span {
	cursor: pointer;
	display: block;
	width: 42px;
	height: 42px;
	float: left;
	margin-left: 9px;
	margin-top: 9px;
	background-color: gray;
	border-radius: 3px;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
}

.color-popup span:hover {
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5), 0px 2px 2px -2px rgba(0,0,0,0.4);
}

.color-picker {
	padding: 6px 9px 6px 12px;
	line-height: 1.428571429;
	border: 1px solid #cccccc;
	color: #333333;
	background-color: #ffffff;
}

.color-picker:hover, .color-picker:focus {
	background-color: #ebebeb;
	border-color: #adadad;
}

.color-picker:focus {
	outline: thin dotted #333;
	outline-offset: -2px;
}

.color-picker.active, .color-picker:active {
	background-color: #ebebeb;
	border-color: #adadad;
	outline: 0;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.color-picker.disabled, .color-picker[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	background-color: #ffffff;
	border-color: #cccccc;
}

/* Release notes */
.release-notes h2 {
    line-height: 1.4;
    border-bottom: 1px solid #e0e0e0;
	font-size: 30px;
	font-weight: 100;
}

.release-notes {
    text-align: center;
}

.release-notes .container {
    max-width: 720px;
    text-align: left;
}

ol, ul {
    list-style: none;
}

.release-notes .meta {
    float: right;
    color: #808080;
    margin-top: 2.6em !important;
}

.release-version {
    margin-left: 12px;
}

.release-notes ul {
    margin-bottom: 20px;
}

.release-notes li {
    padding-left: 100px;
    margin: 0 0 12px;
}

.change-label-container {
    float: left;
    margin-left: -100px;
    width: 80px;
    text-align: right;
}

.change-label {
    font-style: normal;
    padding: 1px 8px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	font-weight: 700;
}

.change-fixed {
    border-color: #00a0d2;
    color: #00a0d2;
}

.change-new {
    border-color: #64b450;
    color: #64b450;
}

.change-improved {
    border-color: #826eb4;
    color: #826eb4;
}

.change-removed {
    border-color: #dc3232;
    color: #dc3232;
}

.change-system {
    border-color: #ffb900;
    color: #ffb900;
}

.change-note {
    border-color: #f56e28;
    color: #f56e28;
}

/* Night mode */
.night body, html.night, .night .nav-tabs > li.active > a, .night .nav-tabs > li.active > a:hover, .night .nav-tabs > li.active > a:focus {
	background-color: #333;
	color: #ddd;
}

.night .nav-tabs > li.active > a, .night .nav-tabs > li.active > a:hover, .night .nav-tabs > li.active > a:focus {
	border-color: #333;
}

.night .nav-tabs > li > a:hover {
    border-color: #444;
    background-color: #444;
}

.night .container-main {
	background: #444;
	box-shadow: 0 0 30px #222;
}

.night .first-run-content {
	background: #555;
}

.night hr {
	border-top-color: #555;
}

.night .accent-group .btn {
	border-color: #444 !important;
}

.night .accent-group .btn:hover, .night .accent-group .btn:focus, .night .accent-group .btn:active, .night .accent-group .active.btn {
	border-color: #666 !important;
}

.night .nav-tabs {
	border-color: #555;
}

.night .panel {
	border-color: #555;
	background-color: #444;
}

.night .table * {
	border-color: #3d3d3d;
}

.night .table > tbody > tr.active > td, .night .table > tbody > tr.active > th, .night .table > tbody > tr > td.active, .night .table > tbody > tr > th.active, .night .table > tfoot > tr.active > td, .night .table > tfoot > tr.active > th, .night .table > tfoot > tr > td.active, .night .table > tfoot > tr > th.active, .night .table > thead > tr.active > td, .night .table > thead > tr.active > th, .night .table > thead > tr > td.active, .night .table > thead > tr > th.active {
	background-color: #404040;
}

.night .table-striped > tbody > tr:nth-of-type(2n+1) {
	background: #3f3f3f;
}

.night .panel-footer {
	border-color: #555;
	background-color: #3d3d3d;
}

.night .list-group-item {
	border-color: #555;
	background-color: #444;
	color: #fff;
}

.night .list-group-item:hover {
	background-color: #3a3a3a;
}

.night #search .panel-body, .night .user-entry {
	background-color: #555;
}

.night .list-group-forum a.list-group-item {
	border-color: #3f3f3f;
}

.night .label-default {
	background-color: #333;
}

.night .comment .panel-default {
	background-color: #3b3b3b;
}

.night .list-group-topic .list-group-item {
	border-color: #3e3e3e;
	background-color: #404040;
}

.night .panel-editor .btn-default {
	background-color: #444;
}

.night .textarea-toolbar .btn-group, .night .textarea-top, .night .textarea-bottom {
	border-color: #555;
}

.night .panel-editor .btn-default {
	color: #fff;
}

.night .input-group-addon {
	border-color: #222;
}

.night .form-control {
	background-color: #333;
	color: #ddd;
	border-color: #222;
}

.night .well {
	background-color: #3d3d3d;
	border-color: #333;
}

.night .btn-search {
	background-color: #333;
	color: #ddd;
}

.night .btn-search:hover {
	background-color: #393939;
}