.list-group-advanced {
    .list-group-item {
        padding: .25rem 0 !important;

        .row {
            padding: 0;
            
            h5 {
                margin: .15rem 0 0 0;
                font-size: 1.3rem;
                font-weight: 700;
            }
            
            h6 {
                margin-top: -.2rem;
                margin-bottom: .2rem;
                text-transform: uppercase;

                small {
                    font-size: .7rem;
                    font-weight: 600;
                }
            }

            .forum-title,
            .thread-title,
            .thread-date {
                font-size: 17px;
            }
            
            .thread-title {
                white-space: nowrap;
            }

            .thread-meta {
                display: block;
                margin-top: .05rem;
            }
            
            .forum-description,
            .thread-desc,
            .thread-meta {
                font-size: .82rem;
                margin-top: -.1rem;
                margin-bottom: .2rem;
            }
            
            .bytime {
                margin-top: 3px;
            }
        }
    }
}

.title-block + .list-group-item {
    margin-top: .1rem;
}

.title-block + .list-group-thread + .btn-pagination {
    margin-bottom: 0;
}

.subforumview .title-block + .list-group-thread.subforum-list {
    display: none;
}

.list-group-thread.subforum-list + .btn-pagination {
    margin-top: .1rem;
}