.list-group-item.clearfix {
  padding: 5px 5px 7px; }
  .list-group-item.clearfix h5 {
    margin: 2px 0 0 0;
    font-size: 20px; }
  .list-group-item.clearfix h6 {
    margin: 4px 0 0 0;
    font-size: 13px;
    text-transform: uppercase; }
  .list-group-item.clearfix .forum-title,
  .list-group-item.clearfix .thread-title,
  .list-group-item.clearfix .thread-date {
    font-size: 17px; }
  .list-group-item.clearfix .thread-title {
    white-space: nowrap; }
  .list-group-item.clearfix .forum-description,
  .list-group-item.clearfix .thread-desc,
  .list-group-item.clearfix .thread-meta {
    font-size: 13px; }
  .list-group-item.clearfix .bytime {
    margin-top: 3px; }

.title-block + .list-group-item.clearfix {
  margin-top: 1px; }

.title-block + .list-group-thread + .btn-pagination {
  margin-bottom: 0; }

.subforumview .title-block + .list-group-thread.subforum-list {
  display: none; }

.list-group-thread.subforum-list + .btn-pagination {
  margin-top: 1px; }
