/* General fixes */
body, html {
	background-color: #f2f2f2;
	font-family: "Segoe UI", Arial;
}

.forum-list {
	margin: 3px 0 5px 0;
}

#brdmain {
	margin-top: 10px;
}

footer {
	padding-bottom: 15px;
}

footer .pull-right {
	padding-bottom: 15px;
}

h1 {
	margin-top: -15px;
}

h2 {
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI Light", "Segoe UI", Arial;
	font-weight: 100;
}

.panel-body h1 {
	margin-top: 0;
}

.text-center {
	margin-bottom: 0;
}

.modlist {
	color: #888;
}

@media screen and (max-width: 767px) {
	.col-profile {
		padding-left: 0;
	}

	.col-profile .profile-card {
		margin-top: 60px !important;
	}
}

.row-nav .btn-breadcrumb, .row-nav .pagination {
	margin-bottom: 10px;
}

.col-profile {
	padding-right: 0;
}

@media screen and (max-width: 991px) {
	#userlist .col-sm-12 {
		margin-bottom: 10px;
	}
}

/* Navbar profile pane */
.dropdown-menu {
	padding: 0;
}

.navbar-content {
	width: 320px;
	padding: 15px;
}

.navbar-footer {
	background-color: #DDD;
}

.navbar-footer-content {
	padding: 15px 15px 15px 15px;
}

#header a.btn-default:hover, #header a.btn-default, .userpane-name {
	color: #000 !important;
}

/* Header */
#header {
	background: #e477f1;
	background: linear-gradient(to right, #e477f1, #fbb4ff);
	color: #fff;
}

#header a {
	color: #fff;
}

#header a:hover {
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, #header .dropdown-menu > li > a {
		color: #fff;
	}

	#header .dropdown-menu > li > a:hover, #header .dropdown-menu > li > a:focus {
		background: #47a9f5;
	}

	.dropdown-menu .divider {
		background-color: #d45ae2;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		box-shadow: none;
	}
}

.announcement a {
	text-decoration: underline;
}

@media screen and (min-width: 768px) {
	.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		background: #c64dd5;
	}
}

/* Index */
.tclcon {
	margin-left: 25px;
}

.table {
	margin-bottom: 0;
}

.users-online {
	margin-left: 15px;
	margin-right: 15px;
}

/* First run */
.first-run-content {
	padding-left: 15px;
}

.first-run-content h3 {
	margin-top: 15px;
}

.first-run-profile {
	background-image: url(../../img/core/firstrun.png);
	background-size: cover;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding-bottom: 16px;
}

.first-run-title {
	color: #fff;
	text-align: center;
}

.first-run-avatar {
	background: none;
	border: none;
}

.first-run-avatar img {
	border-radius: 3px;
	box-shadow: 0px 0px 13px #808080;
}

.first-run-list {
	margin: 15px;
}

.first-run-login {
	margin-right: 15px;
}

.first-run .active {
	text-align: center;
}

@media screen and (max-width: 767px) {
	.first-run-content {
		padding-right: 15px;
	}

	.first-run-profile {
		margin-top: -15px;
		border-bottom-left-radius: 0;
		border-top-right-radius: 3px;
	}

	.first-run-title {
		padding-top: 15px;
	}

	.first-run-list {
		margin-left: 0;
		margin-right: 0;
	}

	.first-run-login {
		margin-right: 0;
	}
}

/* Welcome box and header */
#brddesc {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin-top: -10px;
}

#brddesc p {
	padding: 0;
}

#brdwelcome {
	padding: 10px 0 0;
}

#brdwelcome .conl, #brdwelcome .conr, #brdwelcome p, #brdwelcome li {
	display: inline;
	padding: 0;
}

#brdwelcome .conl {
	float: left;
}

#brdwelcome .conr {
	float: right;
}

#brdwelcome li span {
	padding-left: 18px;
	margin-right: 3px;
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
}

#brdwelcome .conl li:first-child span {
	padding-left: 0;
	background: none;
}

/* Links (subscribe, new post, etc.) */
.subscribelink {
	padding-bottom: 10px;
}

.postlink {
	float: right;
	font-weight: bold;
	text-align: right;
}

/* Panels */
.panel {
	margin-bottom: 10px;
	margin-top: 15px;
}

.panel-default .panel-heading {
	border: none;
	background: #e477f1;
	background: linear-gradient(to right, #e477f1, #fbb4ff);
	color: #fff;
	height: 37px;
}

.panel-border {
	border: none;
}

.panel-border .panel-body, .panel-border .postfield, .panel-border .panel-footer, .panel-border .quickpostfield {
	border: 1px solid #ddd;
	border-top: none;
}

.col-md-10 .panel {
	margin-right: -14px;
}

/* Navbar */
.nav-inner {
	max-width: 1140px;
	margin: 0 auto;
}

@media(min-width:767px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu{
		display: block;
	}
}

.navbar {
	border: none;
	background: #dc6bea;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #d45ae2;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #d45ae2;
	color: #fff;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret, .navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar-right > .dropdown, :last-child.navbar-right.navbar-nav {
	margin-right: 0;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

/* Toggle */
.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #c64dd5;
}

/* Pagination */
.pagination {
	margin: 0;
	float: right;
}

.pagination-fix {
	margin-top: 10px;
	margin-bottom: 5px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border: 1px solid #e983f4;
	background-color: #e983f4;
}

/* Profile */
.profile-nav {
	padding-left: 0;
	padding-right: 0;
}

a.active.list-group-item, a.active.list-group-item:hover, a.active.list-group-item:focus {
	background-color: #e983f4;
	border-color: #e983f4;
}

.profile-h2 {
	margin-top: 0;
	margin-bottom: 0;
}

/* Post messages */
.bblinks {
	padding-top: 5px;
	float: right;
}

.bblinks li {
	display: inline;
}

.blockpost .postbody {
	border-left-style: solid;
	border-left-width: 1px;
	float: right;
	margin-right: -218px;
	position: relative;
	text-align: left;
	width: 100%;
}

.blockpost .postleft {
	padding: 7px 12px 7px 18px;
	float: left;
	position: relative;
}

.username {
	margin: 0;
}

.time-nr {
	font-size: 80%;
	color: #aaa;
}

.btn-actions {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 80%;
}

.post-div {
	margin-top: 2px;
	margin-bottom: 5px;
}

.modlist {
	font-size: 70%;
	margin-bottom: 0;
}

.postview {
	margin-bottom: 10px;
}

.postedit {
	font-size: 11px;
	color: #bbb;
}

.modcontrols {
	padding-bottom: 8px;
}

.marked .panel-body {
	background-color: #fff1eb;
}

.marked .panel-body hr {
		border-top: 1px solid #ffc8b3;
}

/* Quick post and post */
.quickpostfield textarea, .quickpostfield textarea:focus {
	border: none;
	box-shadow: none;
	height: 140px;
}

.postfield textarea, .postfield textarea:focus {
	border: none;
	box-shadow: none;
	height: 400px;
}

.quickpostfield input[type="text"], .postfield input[type="text"] {
	border: none;
	border-bottom: #eee solid 1px;
	box-shadow: none;
	font-size: 20px;
	line-height: 0.8;
}

.quickpostfield textarea::-webkit-input-placeholder, .postfield textarea::-webkit-input-placeholder {
	font-size: 20px;
}

.quickpostfield textarea::-moz-placeholder, .postfield textarea::-moz-placeholder {
	font-size: 20px;
}

.quickpostfield textarea:-ms-input-placeholder, .postfield textarea:-ms-input-placeholder {
	font-size: 20px;
}

/* Table */
.table > tbody > tr > td.user-data {
	background-color: #f7f7f7;
}

.table > thead > tr.active {
	color: #fff;
	background: #e477f1;
	background: linear-gradient(to right, #e477f1, #fbb4ff);
}

.category-header, .forum-header {
	color: #fff;
	background: #e477f1;
	background: linear-gradient(to right, #e477f1, #fbb4ff);
	padding: 8px 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.category-box, .forum-box {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
}

.forum-row, .topic-row {
	color: #232323;
	background-color: #fff;
	padding: 8px 0;
	border-bottom: 1px #eee solid;
	border-left: 1px #ddd solid;
	border-right: 1px #ddd solid;
}

.forum-row:last-child, .topic-row:last-child {
	color: #232323;
	background-color: #fff;
	padding: 8px 0;
	border-bottom: 1px #ddd solid;
}

.table > tbody > tr > td {
	color: #232323;
	background-color: #fff;
}

.table thead > tr > .postbreadcrumb, .table tbody > tr > .postbreadcrumb, .table tfoot > tr > .postbreadcrumb, .table thead > tr > td > .postbreadcrumb, .table tbody > tr > td > .postbreadcrumb, .table tfoot > tr > td > .postbreadcrumb {
	padding: 0;
}

.postbreadcrumb .breadcrumb {
	margin: 0;
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
	background: none;
}

/* Buttons */
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
	color: #ffffff;
}

.btn-primary {
	color: #fff;
	background-color: #e477f1;
	border-color: #d765e5;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #d765e5;
	border-color: #c554d3;
	color: #fff;
}

.btn-primary:active, .btn-primary.active {
	background-color: #c554d3 9;
}

.btn-post {
	margin-top: 0;
	margin-left: 5px;
	margin-bottom: 10px;
}

.panel-title .btn {
	margin-top: -10px;
	margin-right: -15px;
	padding: 8px 14px 9px 14px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
}

/* Labels */
.label-primary {
	background: #e8e8e8;
	color: #8e8e8e;
}

.label-success {
	background: #95c636;
}

.label-info {
	background: #2ac6e2;
}

.label-warning {
	background: #ffae00;
}

.label-danger {
	background: #ea4322;
}

.glyphicon-asterisk {
	color: #c9c9c9;
	font-size: 80%;
}

/* Alerts */
.alert {
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	background-color: #ffffff;
	border-left: #555 5px solid;
}

.alert-warning {
	border-left: #f79f13 5px solid;
}

.alert-info, #redirect {
	border-left: #2ca0e9 5px solid;
}

.alert-danger {
	border-left: #ff5a00 5px solid;
	color: #d33200;
}

.alert-success {
	border-left: #41d300 5px solid;
	color: #4e9e00;
}

.announcement {
	border: none;
	color: #fff;
	background: rgba(255,255,255,.2);
	margin-top: 30px;
	margin-bottom: 0;
	padding: 5px 8px;
}

.col-md-10 .alert {
	margin-right: -14px;
}

/* Forms */
fieldset label {
	display: block;
	padding: 0 0 7px 0;
}

label .help-block {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 85%;
}

textarea {
		resize: vertical;
}

.multiselect {
	float: left;
	padding-bottom: 7px;
}

.checklist {
	border-width: 1px;
	border-style: solid;
	max-height: 9em;
	width: 20em;
	overflow: auto;
	padding: 0.25em 0.5em;
	margin: 0.25em 16px 0 0.15em;
}

/* Breadcrumb */
.row-nav-fix {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-breadcrumb .btn:not(:last-child):after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 100%;
	z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid rgb(173, 173, 173);
	position: absolute;
	top: 50%;
	margin-top: -17px;
	margin-left: 1px;
	left: 100%;
	z-index: 3;
}

.btn-breadcrumb .btn {
	padding:6px 12px 6px 24px;
}

.btn-breadcrumb .btn:first-child {
	padding:6px 6px 6px 10px;
}

.btn-breadcrumb .btn:last-child {
	padding:6px 18px 6px 24px;
}

.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
	border-left: 10px solid #e477f1;
}

.btn-breadcrumb .btn.btn-primary:not(:last-child):before, .btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
	border-left: 10px solid #c554d3;
}

.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
	border-left: 10px solid #d765e5;
}

/* Status Indicators */
.icon {
	border-color: #dcdcdc;
	margin-left: -3px;
	margin-top: 1px;
}

.iredirect .icon {
	border-color: #818181;
	border-width: 4px;
	padding: 4px;
}

.inew .icon {
	border-color: #2ca0e9;
}

/* Userlist */
.usersearch {
	margin: 0 auto 10px auto;
}

.userlist {
	padding: 0 15px;
}

.user-row .user-avatar {
	max-width: 50px;
	margin-top: 0;
	margin-left: -6px;
	position: absolute;
	border-radius: 0;
	height: 50px;
	min-height: 50px;
	min-width: 50px;
}

.userlist-name {
	margin-left: 60px;
	font-size: 24px;
	line-height: 2;
	font-family: "Segoe UI Light", "Segoe UI", "Segoe WP";
}

.userlist-name small {
	font-size: 16px;
	color: #999;
}

.user-row .thumbnail {
	padding: 2px;
}

.user-row {
	color: #232323;
	background-color: #fff;
	padding: 8px 0;
	border-bottom: 1px #eee solid;
	border-left: 1px #ddd solid;
	border-right: 1px #ddd solid;
}

.user-row:last-child {
	color: #232323;
	background-color: #fff;
	padding: 8px 0;
	border-bottom: 1px #ddd solid;
}

.user-row .collum-count {
	padding-top: 15px;
}

.row-space-top {
	margin-top: 15px;
}

.pagination-user {
	margin: 10px auto;
}

/* Topicview */
.profile-card h1 a:hover, .profile-card h2 a:hover, .profile-card h3 a:hover, .topic .panel-heading h3 a:hover, .profile-card h4 a:hover, .profile-card h5 a:hover, .profile-card h6 a:hover, .profile-card h1 a:active, .profile-card h2 a:active, .profile-card h3 a:active, .profile-card h4 a:active, .profile-card h5 a:active, .profile-card h6 a:active, .profile-card h1 a:focus, .profile-card h2 a:focus, .profile-card h3 a:focus, .profile-card h4 a:focus, .profile-card h5 a:focus, .profile-card h6 a:focus {
	text-decoration: none;
	color: #ddd;
}

.profile-card h2 a, .profile-card h3, .profile-card h3 a, .topic .panel-heading h3 a {
	color: #fff;
}

.topic .panel, .topic .profile-card {
	margin-bottom: 0;
}

.panel-topic {
	margin-top: 10px;
}

.topic .profile-card {
	margin-top: 10px;
}

.topic .panel-body {
	padding: 7px;
}

.topic .profile-card-head .user-avatar {
	max-width: 54px;
	height: 50px;
	margin-top: 4px;
	margin-left: 4px;
	position: absolute;
	border-radius: 0;
	border-top-left-radius: 3px;
}

.topic .profile-card-quickpost .user-avatar {
	border-bottom-left-radius: 3px;
}

.topic .profile-card-head .user-avatar img {
	height: 48px;
	width: 100%;
}

.topic .profile-card-head .is-online {
	border-left: 4px #93dd00 solid;
}

.topic .profile-card-head .is-offline {
	border-left: 4px #eee solid;
}

.profile-card-head h2 {
	color: #fff;
}

.profile-card-head h3 {
	color: #fff;
}

.topic .profile-card-head h2 {
	padding-left: 64px;
	padding-top: 3px;
}

.topic .profile-card-head h3 {
	padding-left: 64px;
	padding-bottom: 7px;
}

.topic hr {
	margin-top: 9px;
	margin-bottom: 1px;
}

.profile, .topic {
	margin-left: -15px;
	margin-right: -15px;
}

.profile-card {
	margin-top: 50px;
	margin-bottom: 10px;
}

.profile-card-head {
	height: 59px;
	background-color: #e477f1;
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.profile-card-quickpost {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.profile-card-head .thumbnail {
	max-width: 100px;
	margin-top: -50px;
	margin-left: 9px;
	position: absolute;
	border-radius: 0;
}

.profile-card-head h2 {
	padding-left: 120px;
	padding-top: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

.profile-card-head h3 {
	padding-left: 120px;
	padding-bottom: 7px;
	margin-top: 0;
	font-size: 100%;
	margin-bottom: 0;
}

.profile-card-body {
	padding: 9px;
	background-color: #fff;
	border: #ddd 1px solid;
	border-top: none;
}

.profile-card-body p {
	margin: 0;
}

.panel-body p {
	line-height: 1.6;
}

.comment-arrow {
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	border-color: transparent;
	border-style: solid;
	border-width: 11px;
	left: 4px;
	margin-top: -2px;
	border-left-width: 0px;
	border-right-color: #e477f1;;
}

.topic .panel-heading {
	background: #e477f1;
	background: linear-gradient(to right, #e477f1, #fbb4ff);
}

.post-actions {
		margin-top: 5px;
}

.topic .thumbnail {
		padding: 0;
		border: 1px solid #fff;
}

@media(max-width:991px) {
	.topic .panel {
		margin-top: 0;
	}

	.profile-card-head {
		background: #e477f1;
		background: linear-gradient(to right, #e477f1, #fbb4ff);
	}

	.topic .panel-heading  {
		border-radius: 0;
	}
}

.onlypost > .col-md-3 > .profile-card, .onlypost > .col-md-9 > .panel {
	margin-top: 0;
}

/* Forumview, index */
.icon {
	margin-top: 2px;
	border-style: solid;
	border-width: 8px;
	float: left;
	height: 0;
	overflow: hidden;
	width: 0;
}

/* Debug */
#debug {
	border-style: dotted none none none;
	border-width: 1px 0 0 0;
	margin-top: 7px;
	text-align: center;
}

/* Links */
a {
	color: #c64dd5;
}

a:hover, a:active {
	color: #bc43ca;
}

a.list-group-item:hover, a.list-group-item:active {
	color: #555555;
}

/* BBCode */
span.bbu {
	text-decoration: underline;
}

span.bbs, del {
	text-decoration: line-through;
}

blockquote p {
	font-size: 13px;
}

ol.alpha {
	list-style: lower-alpha;
}

q {
	font-style: italic;
}

q:before {
	content: "\201C";
}

q:after {
	content: "\201D";
}

/* Update and login form */
.form {
	max-width: 330px;
	margin: 60px auto 20px;
	border-radius: 3px;
	background-color: #fff;
}

.form-first-run {
	max-width: 100%;
	margin: 0;
}

.form input[type="text"], .form input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: -1px;
	padding: 7px 9px;
	width: 100%;
	box-shadow: none;
}

.form-heading {
	margin-bottom: 0px;
	font-weight: 100;
	background: #e477f1;
	background: linear-gradient(to right, #e477f1, #fbb4ff);
	color: #fff;
	padding: 20px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.form-content {
	padding: 15px 18px 10px 20px;
}

.form-first-run .form-content {
	padding: 0;
	padding-right: 15px;
}

.remember {
	font-weight: 500 !important;
}

.form-text {
	margin: 0;
	padding: 20px;
}

.form .btn {
	margin-top: -65px;
	margin-right: 5px;
}

.form .btn-update {
	margin-top: 0 !important;
}

.form .actions, .form .remember {
	margin-top: 10px;
}

.top-form {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.bottom-form {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

@media screen and (max-width: 767px) {
	.container, .row-nav .col-sm-6 {
		padding: 0;
	}

	.category-header, .forum-header, .panel-heading, .profile-card-head, :first-child.list-group-item, :last-child.list-group-item, .btn-block, .panel-title .btn {
		border-radius: 0;
	}
	
	.category-box, .postview {
		margin-bottom: 0;
	}
	
	.forum-row, .topic-row {
		border-left: none;
		border-right: none;
	}
	
	footer, #brddesc, #brdwelcome, h2, .row-nav {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.topic .profile-card {
		margin-top: 0;
	}
	
	.panel-body {
		border: none;
	}
}

/* Backstage color select */
.bsmbbblue {
	background-color: #14a3ff;
	padding: 10px;
}

.bsred {
	background-color: #d24726;
	padding: 10px;
}

.bsgreen {
	background-color: #82ba00;
	padding: 10px;
}

.bsyellow {
	background-color: #ffcc32;
	padding: 10px;
}