/* Essential structure */
html, body {
	background: #e5e5e5;
}

h2 {
	color: #1764df;
}

h4 {
	color: #1f9ae0;
}

/* Navbar */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background: #1764df;
	background-image: linear-gradient(#1f9ae0, #1764df);
	color: #fff;
}

.navbar {
	border-bottom: 5px solid #1764df;
	background: #444;
	background-image: linear-gradient(to bottom, #444, #333);
}

.navbar-brand {
	color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus {
	color: #fff;
}

.nav > li > a {
	color: #fff;
}

.navbar-nav > .dropdown > a .care, .navbar-nav > .dropdown > a:hover .caret, .navbar-nav > .dropdown > a:focus .caret, .navbar-nav > .active > a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

@media (max-width:768px){
	.dropdown-menu > li > a, .dropdown-menu > li > a:focus {
		color: #fff;
	}
}

.navbar-nav > .active > a, .navbar-nav > .active > a:focus {
	color: #fff;
	background: #1764df;
	background-image: linear-gradient(#1f9ae0, #1764df);
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > .active > a:hover {
	color: #fff;
	background: #444;
	background: linear-gradient(to bottom,  #555, #444);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	color: #fff;
	background: #1764df;
	background-image: linear-gradient(#1f9ae0, #1764df);
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

/* Pagination */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border: 1px solid #269feb;
	background-color: #269feb;
}

/* Buttons */
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
	color: #ffffff;
}

.btn-default {
	background-image: linear-gradient(#ffffff, #f5f5f5);
	background-repeat: no-repeat;
	transition: background-image .2s;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled] {
	background-image: linear-gradient(#f5f5f5, #dddddd);
	background-color: #e2e2e2;
}

.btn-default:active, .btn-default.active {
	background-color: #e2e2e2 9;
}

.btn-primary {
	color: #fff;
	background-color: #1764df;
	background-image: linear-gradient(#1f9ae0, #1764df);
	background-repeat: repeat-x;
	border-color: #2f76e7 #2f76e7 #1553b5;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	transition: background-image .2s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-image: linear-gradient(#1764df, #0049be);
	color: #fff;
}

.btn-primary:active, .btn-primary.active {
	background-color: #175dcc 9;
}

.btn-warning {
	color: #fff;
	background-color: #f08200;
	background-image: linear-gradient(#f0af00, #f08200);
	background-repeat: no-repeat;
	border: 1px solid #f0af00;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	transition: background-image .2s;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	color: #fff;
	background-image: linear-gradient(#f08200, #f06000);
	background-color: #b54800;
}

.btn-warning:active, .btn-warning.active {
	background-color: #aa4200 9;
}

.btn-danger {
	color: #fff;
	background: #c32627;
	background-image: linear-gradient(#e12b31, #b5191f);
	background-repeat: no-repeat;
	border-bottom: 1px solid #9a161a;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	transition: background-image .2s;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	color: #fff;
	background-image: linear-gradient(#b5191f, #940309);
}

.btn-danger:active, .btn-danger.active {
	background-color: #942a25 9;
}

.btn-success {
	color: #fff;
	background: #65a643;
	background-image: linear-gradient(#88c149, #699934);
	background-repeat: no-repeat;
	border-bottom: 1px solid #59822c;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	transition: background-image .2s;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	color: #fff;
	background-image: linear-gradient(#699934, #4f8513);
}

.btn-success:active, .btn-success.active {
	background-color: #408140 9;
}

.btn-info {
	color: #fff;
	background: #6d76b3;
	background-image: linear-gradient(#59cbf1, #4aa6e6);
	background-repeat: no-repeat;
	border: 1px solid #59cbf1;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	transition: background-image .2s;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	color: #fff;
	background-image: linear-gradient(#4aa6e6, #228dd8);
	background-color: #59cbf1;
}

.btn-info:active, .btn-info.active {
	background-color: #0eace7 9;
}

.panel-title .btn {
	border-left: #155ac9;
}

/* Panels */
.panel-default .panel-heading {
	background: #0b8ada;
	background-image: linear-gradient(#444, #333);
	color: #fff;
}

.panel-warning .panel-heading {
	background: #ff9c00;
	color: #fff;
}

/* Alerts and redirects */
.alert, #redirect {
	background-color: #fff;
	border-left: #555 5px solid;
}

.alert-warning {
	border-left: #f79f13 5px solid;
}	

.alert-info, #redirect {
	border-left: #2ca0e9 5px solid;
}

.alert-danger {
	border-left: #ff5a00 5px solid;
	color: #d33200;
}

.alert-success {
	border-left: #41d300 5px solid;
	color: #4e9e00;
}

/* Breadcrumb */
.breadcrumb {
	color: #a8a8a8;
}

/* Update and login form */
.form {
	background-color: #fff;
	border: #ccc 1px solid;
}

.form-heading {
	color: #2ca0e9;
}