/* Accent 1 - ModernBB Blue */
.accent-1 .navbar-inverse, .accent-1 .footer, .accent-1 .alert-all, .accent-1 .modal-form .modal-header, .accent-1 .modal-form .modal-footer, .accent-1 .navbar-inverse .navbar-toggle .icon-bar, .accent-1 .btn-primary {
	background-color: #14a3ff;
}

.accent-1 .navbar-secondary, .accent-1 .first-run-profile, .accent-1 .footer .copyright, .accent-1 .panel-default .panel-heading, .accent-1 .nav-tabs > li > a:hover, .accent-1 .thread-jumbotron, .accent-1 .jumbotron, .accent-1 .user-card-profile, .accent-1 .pagination > .active > a, .accent-1 .pagination > .active > span, .accent-1 .pagination > .active > a:hover, .accent-1 .pagination > .active > span:hover, .accent-1 .pagination > .active > a:focus, .accent-1 .pagination > .active > span:focus, .accent-1 .btn-primary:hover, .accent-1 .btn-primary:focus, .accent-1 .btn-primary:active, .accent-1 .btn-primary.active, .accent-1 .btn-primary.disabled, .accent-1 [disabled].btn-primary, .accent-1 .category-header {
	background-color: #0b95ed;
}

.accent-1 .activity-header, .accent-1 .nav-tabs > li.active > a, .accent-1 .nav-tabs > li.active > a:hover, .accent-1 .nav-tabs > li.active > a:focus, .accent-1 .navbar-default, .accent-1 .new-item .label-default, .accent-1 a.list-group-item.active, .accent-1 a.list-group-item.active:hover, .accent-1 a.list-group-item.active:focus, .accent-1 .list-group-forum .list-group-item.active.new-item  {
	background-color: #0589de;
}

.accent-1 .list-group-forum a.list-group-item:hover, .accent-1 .list-group-topic .list-group-item:hover {
	border-color: #14a3ff;
}

.accent-1 .btn-primary {
	border-color: #0b95ed;
}

.accent-1 .btn-primary:hover, .accent-1 .btn-primary:focus, .accent-1 .btn-primary:active, .accent-1 .btn-primary.active, .accent-1 .btn-primary.disabled, .accent-1 [disabled].btn-primary, .accent-1 .category-header, .accent-1 a.list-group-item.active, .accent-1 a.list-group-item.active:hover, .accent-1 a.list-group-item.active:focus, .accent-1 .list-group-forum .list-group-item.active.new-item {
	border-color: #0589de;
}

.accent-1 .col-sm-9 a, .accent-1 a:focus, .accent-1 .pagination > li > a, .accent-1 .pagination > li > span {
	color: #0b95ed;
}

.accent-1 a.list-group-item:hover, .accent-1 a:hover, .accent-1 a:active {
	color: #0589de;
}