/* Accent 2 - Blue */
.accent-2 .navbar-inverse, .accent-2 .footer, .accent-2 .alert-all, .accent-2 .modal-form .modal-header, .accent-2 .modal-form .modal-footer, .accent-2 .navbar-inverse .navbar-toggle .icon-bar, .accent-2 .btn-primary {
	background-color: #2788cb;
}

.accent-2 .navbar-secondary, .accent-2 .first-run-profile, .accent-2 .footer .copyright, .accent-2 .panel-default .panel-heading, .accent-2 .nav-tabs > li > a:hover, .accent-2 .thread-jumbotron, .accent-2 .jumbotron, .accent-2 .user-card-profile, .accent-2 .pagination > .active > a, .accent-2 .pagination > .active > span, .accent-2 .pagination > .active > a:hover, .accent-2 .pagination > .active > span:hover, .accent-2 .pagination > .active > a:focus, .accent-2 .pagination > .active > span:focus, .accent-2 .btn-primary:hover, .accent-2 .btn-primary:focus, .accent-2 .btn-primary:active, .accent-2 .btn-primary.active, .accent-2 .btn-primary.disabled, .accent-2 [disabled].btn-primary, .accent-2 .category-header {
	background-color: #1a79bc;
}

.accent-2 .activity-header, .accent-2 .nav-tabs > li.active > a, .accent-2 .nav-tabs > li.active > a:hover, .accent-2 .nav-tabs > li.active > a:focus, .accent-2 .navbar-default, .accent-2 .new-item .label-default, .accent-2 a.list-group-item.active, .accent-2 a.list-group-item.active:hover, .accent-2 a.list-group-item.active:focus, .accent-2 .list-group-forum .list-group-item.active.new-item {
	background-color: #136cab;
}

.accent-2 .list-group-forum a.list-group-item:hover, .accent-2 .list-group-topic .list-group-item:hover {
	border-color: #2788cb;
}

.accent-2 .btn-primary {
	border-color: #1a79bc;
}

.accent-2 .btn-primary:hover, .accent-2 .btn-primary:focus, .accent-2 .btn-primary:active, .accent-2 .btn-primary.active, .accent-2 .btn-primary.disabled, .accent-2 [disabled].btn-primary, .accent-2 .category-header, .accent-2 a.list-group-item.active, .accent-2 a.list-group-item.active:hover, .accent-2 a.list-group-item.active:focus, .accent-2 .list-group-forum .list-group-item.active.new-item {
	border-color: #136cab;
}

.accent-2 .col-sm-9 a, .accent-2 a:focus, .accent-2 .pagination > li > a, .accent-2 .pagination > li > span {
	color: #1a79bc;
}

.accent-2 a.list-group-item:hover, .accent-2 a:hover, .accent-2 a:active {
	color: #136cab;
}