/* Accent 4 - Purple */
.accent-4 .navbar-inverse, .accent-4 .footer, .accent-4 .alert-all, .accent-4 .modal-form .modal-header, .accent-4 .modal-form .modal-footer, .accent-4 .navbar-inverse .navbar-toggle .icon-bar, .accent-4 .btn-primary {
	background-color: #b679d4;
}

.accent-4 .navbar-secondary, .accent-4 .first-run-profile, .accent-4 .footer .copyright, .accent-4 .panel-default .panel-heading, .accent-4 .nav-tabs > li > a:hover, .accent-4 .thread-jumbotron, .accent-4 .jumbotron, .accent-4 .user-card-profile, .accent-4 .pagination > .active > a, .accent-4 .pagination > .active > span, .accent-4 .pagination > .active > a:hover, .accent-4 .pagination > .active > span:hover, .accent-4 .pagination > .active > a:focus, .accent-4 .pagination > .active > span:focus, .accent-4 .btn-primary:hover, .accent-4 .btn-primary:focus, .accent-4 .btn-primary:active, .accent-4 .btn-primary.active, .accent-4 .btn-primary.disabled, .accent-4 [disabled].btn-primary, .accent-4 .category-header  {
	background-color: #a268bf;
}

.accent-4 .activity-header, .accent-4 .nav-tabs > li.active > a, .accent-4 .nav-tabs > li.active > a:hover, .accent-4 .nav-tabs > li.active > a:focus, .accent-4 .navbar-default, .accent-4 .new-item .label-default, .accent-4 a.list-group-item.active, .accent-4 a.list-group-item.active:hover, .accent-4 a.list-group-item.active:focus, .accent-4 .list-group-forum .list-group-item.active.new-item {
	background-color: #8b54a7;
}

.accent-4 .list-group-forum a.list-group-item:hover, .accent-4 .list-group-topic .list-group-item:hover {
	border-color: #b679d4;
}

.accent-4 .btn-primary {
	border-color: #a268bf;
}

.accent-4 .btn-primary:hover, .accent-4 .btn-primary:focus, .accent-4 .btn-primary:active, .accent-4 .btn-primary.active, .accent-4 .btn-primary.disabled, .accent-4 [disabled].btn-primary, .accent-4 .category-header, .accent-4 a.list-group-item.active, .accent-4 a.list-group-item.active:hover, .accent-4 a.list-group-item.active:focus, .accent-4 .list-group-forum .list-group-item.active.new-item {
	border-color: #8b54a7;
}

.accent-4 .col-sm-9 a, .accent-4 a:focus, .accent-4 .pagination > li > a, .accent-4 .pagination > li > span {
	color: #a268bf;
}

.accent-4 a.list-group-item:hover, .accent-4 a:hover, .accent-4 a:active {
	color: #8b54a7;
}