body {
	background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI";
	font-weight: 100 !important;
	color: #2ca0e9;
}

.intro {
	font-size: 20px;
	color: #999;
	font-weight: 100 !important;
	line-height: 1.5;
}

.container {
	width: 980px !important;
}

.alert-update {
	width: 930px;
	margin: 10px auto 0 auto;
}

.content {
	width: 960px;
	margin: 10px auto 0 auto;
	background: #fff;
	padding: 0 10px;
	border: solid #e8e8e8 1px;
	border-radius: .3em;
}

footer {
	width: 960px;
	margin: 10px auto 20px auto;
	padding-bottom: 20px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

.navbar-content {
	width: 960px;
	margin: 0 auto;
}

.navbar {
  border-bottom: 6px solid #006dc2;
}

.navbar-inner {
  color: #ffffff !important;
  text-shadow: none !important;
  min-height: 50px !important;
  padding-left: 20px;
  padding-right: 20px;
  background: #47a9f5;
  background: -moz-linear-gradient(top,  #47a9f5 0%, #2690e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#47a9f5), color-stop(100%,#2690e1));
  background: -webkit-linear-gradient(top,  #47a9f5 0%,#2690e1 100%);
  background: -o-linear-gradient(top,  #47a9f5 0%,#2690e1 100%);
  background: linear-gradient(to bottom,  #47a9f5 0%,#2690e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a9f5', endColorstr='#2690e1',GradientType=0 );
  background-repeat: repeat-x;
  border: none;
}